<template>


    <section id="mission">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-10">
                    <div class="text-content">
                    <span class="text-divider mobileView">
                        <img class="img-fluid d-block" src="images/home-page-content-divider-top.png"/>
                    </span>
                        <h1 class="text-center">Mission &amp; <strong>Vision</strong></h1>
                        <div class="row">


                            <div class="col-xs-12 col-lg-4" v-for="(value,key) in data">
                                <div class="block wow fadeInLeft" data-wow-delay="1.5s">
                                    <img class="img-fluid" :src="value.path && value.file_name ? config.base_url + '/' + value.path + value.file_name : '/images/img-transforming.png'"/>
                                    <div class="description text-center">
                                        <span class="d-block my-4">{{value.name}}</span>
                                        <p>{{value.description}}</p>
                                    </div>
                                </div>
                            </div>


                        </div>




                    </div>
                </div>
                <div class="col-xs-12 col-lg-2">
                    <div id="banner" class="mission">
                        <div id="inner-banner">
                            <img class="d-block" src="images/mission-eye.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import Constant from "../../../configs/app.constant";
    import Config from "../../../configs/app.config";
    import PageContentService from "../../../cores/services/page-content/page-content.service";

    const pageContentService = new PageContentService();
    const config = Config;
    export default {
        data: function () {

            return {
                data: {},
                config: {
                    base_url: config.base_url
                }
            }
        },
        mounted: function () {
            this.show(Constant.page_content.mission_vision);
        },
        methods: {

            show: function (id) {

                return pageContentService.show(id).then(success => {
                    var response = success.data;

                    this.data = response;


                });
            }
        }
    }
</script>

<style scoped>

</style>