#about {
    position: relative;
    overflow: hidden;
    /*background: url('/images/bg.png') no-repeat;*/
    background-size: cover;
    min-height: 100vh;
}

#awards {
    /* background: #000 url(../images/section-mission.png) center no-repeat;
    background-size: cover;
    padding: 7rem 0;
    position: relative;
    overflow: hidden; */
    .image {
        position: absolute;
        left: 0;
    }
    .p-top-27 {
        padding-top: 27px;
    }
}

#our-team {
    position: relative;
    overflow: hidden;
    background: url('/images/bg.jpg') no-repeat #000 bottom;
    background-size: contain;
    min-height: 100vh;
    padding-bottom: 100px;
    .text-content{
        margin-bottom: 1rem;
    }
    .hw-180px{
        width: 180px;
        height: 180px;
    }
    
}

@media (max-width: 991px) {
    #about{
        #banner{
            display: none;
        }
    }
    #awards {
        background: url('/images/about/section-awards-mob.png') center no-repeat;
        padding: 2rem 0;
        .col {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    #our-team{
        background: black;
        .text-content{
            margin: 0;
        }
        .hw-180px{
          width: 100%;
          height: 75px;
          border-radius: 4px !important;
        }
        
    }
}