#companies{
    position: relative;
    background: url('/images/bg.jpg') no-repeat;
    background-size: cover;
    // min-height: 100vh;
    min-height: 861px;
    overflow: hidden;
}

@media (max-width:768px) {
    #companies {
        a {
            margin: 30px auto;
        }

        #banner {
            display: none;
        }
    }
}