#newspress {
    background: url('/images/bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    .block {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active,
        &:active:focus,
        &.active {
            text-decoration: none;
        }
    }
    .othernews{
        img{
            // height: 75px;
            object-fit: cover;
            object-position: center;
        }
    }

}

@media (max-width: 768px) {
    #newspress {
        .mobileView {
            padding-bottom: 100px;
            img {
                position: absolute;
                width: 500px;
                left: -104px;
            }
        }
        .text-content {
            text-align: left;

            p {
                font-size: 0.875em;
                text-align: left;
            }
        }

        .pagination {
            a {
                width: 50%;
                text-align: center;    
                &:last-child {
                    margin: 0;
                    // text-align: right;
                }
            }
        }
        
    }

}