#partners {
    background: url('/images/bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

@media (max-width: 768px){
    #partners{
        .mobileView{
            padding-bottom: 100px;
            img{
                position: absolute;
                width: 500px;
                left: -104px;
            }
        }
        .row {
            > div {
                padding: 10px 15px;
            }
        }
    }
    
}