<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <h4 class="card-title">Contacts</h4>

                    <search-component @click-handler="search"/>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>

                            <th>Operation</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(value,key) in data.data">

                            <td>
                                <router-link :to="$route.path + '/' + value.id " tag="a"
                                             class="text text-primary">View
                                </router-link>
                                |
                                <a style="cursor: pointer;" @click="remove(value.id)" class="text text-danger">
                                    Delete </a>
                            </td>
                            <td>{{value.first_name + ' ' +value.last_name}}</td>
                            <td>{{value.email}}</td>
                            <td>{{value.phone_number}}</td>

                        </tr>

                        </tbody>
                    </table>
                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="data.total / data.per_page"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import ContactService from "../../../../cores/services/admin/contact/contact.service";
    import PaginateComponent from 'vuejs-paginate';
    import SearchComponent from '../../../../cores/admin/includes/search.component';

    const config = Config;
    const alertService = new AlertService();
    const contactService = new ContactService();
    export default {
        components: {SearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix
                },
                data: {}
            }
        },
        mounted() {

            this.list(this.$route.query);
        },
        methods: {

            search: function (data) {
                this.list(data);

                this.$router.push({name: 'contact-list', query: data})
            },

            paginate: function (page) {
                var data = {
                    page: page
                }
                if (this.$route.query.keyword) {
                    data.keyword = this.$route.query.keyword;
                }
                this.list(data);

                this.$router.push({name: 'contact-list', query: data});

            },
            remove: function (id) {

                return contactService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            list: function (data) {

                return contactService.list(data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            }
        }
    }
</script>

<style scoped>

</style>