<template>
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body typography-line">

                    <h3>From: {{data.first_name + ' ' + data.last_name}}</h3>
                    <div class="my-5">
                        <h5>Phone: <strong>{{data.phone_number}}</strong></h5>
                        <h5>Email: <strong>{{data.email}}</strong></h5>
                        <h4>Message:</h4>
                        <p class="content-description">{{data.message}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Config from '../../../../configs/app.config';
    import ContactService from "../../../../cores/services/admin/contact/contact.service";


    const config = Config;
    const contactService = new ContactService();

    export default {
        data: function() {
            return {
                data: {}
            }
        },
        mounted: function() {
            this.show(this.$route.params.id)
        },
        methods: {


            show: function(id) {

                return contactService.show(id).then(success => {
                    this.data = success.data;
                });
            }

        }
    }

</script>

<style scoped>

</style>
