<template>

</template>

<script>
    export default {
        data : function(){

        },
        methods : {
            // onPaginationChangePage (page) {
            //     this.$emit('pagination-change-page', page);
            // },
            //
            // stopPropagation(e){
            //     e.preventDefault();
            // },
        },
        beforeMount() {

        },
    }
</script>
