<template>
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">


            <router-link tag="a"  :to="{path: config.prefix}" class="simple-text">

                   <img class="img-fluid" src="/images/logo.svg" />

            </router-link>

        </div>
        <ul class="nav">
<!-- 
            <router-link tag="li" exact-active-class="active" :to="{path: config.prefix}" exact>
                <a class="nav-link" href="">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>

            </router-link> -->
            
            <router-link tag="li" active-class="active" :to="{path: config.prefix + '/homepage-tags'}">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-sun-fog-29"></i>
                    <p>Homepage Headers</p>
                </a>
            </router-link>
            
            <router-link tag="li" active-class="active" :to="{path: config.prefix + '/projects'}">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-album-2"></i>
                    <p>Key Initiatives</p>
                </a>
            </router-link>

            <router-link tag="li" active-class="active" :to="{path: config.prefix + '/sectors'}">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-circle"></i>
                    <p>Sectors We Serve</p>
                </a>
            </router-link>

            <router-link tag="li" active-class="active" :to="{path: config.prefix + '/about'}">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-sun-fog-29"></i>
                    <p>About</p>
                </a>
            </router-link>

            <router-link tag="li" active-class="active" :to="{path: config.prefix + '/companies'}">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-notes"></i>
                    <p>Companies</p>
                </a>
            </router-link>

            <router-link tag="li" active-class="active" :to="{path: config.prefix + '/partners'}">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Partners</p>
                </a>
            </router-link>

            <router-link tag="li" active-class="active" :to="{path: config.prefix + '/news-presses'}">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-single-copy-04"></i>
                    <p>News and Press</p>
                </a>
            </router-link>

            <router-link tag="li" active-class="active" :to="{path: config.prefix + '/contacts'}">
                <a class="nav-link" href="">
                    <i class="nc-icon nc-email-83"></i>
                    <p>Contact Us</p>
                </a>
            </router-link>

<!--            <router-link tag="li" active-class="active" :to="{path: config.prefix + '/page-contents'}">-->
<!--                <a class="nav-link" href="">-->
<!--                    <i class="nc-icon nc-sun-fog-29"></i>-->
<!--                    <p>Page Contents</p>-->
<!--                </a>-->
<!--            </router-link>-->
        </ul>
    </div>

</template>

<script>
    import Config from "../../../configs/app.config"
    const config = Config;
    export default {
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix
                }
            }
        },
        mounted() {


        },
        methods: {}
    }
</script>
