<template>


    <section id="projects">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-8">
                    <div class="text-content wow fadeInDown" data-wow-delay="3s">
                    <span class="text-divider">
                        <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png"/>
                    </span>
                        <h2 class="mb-5">Project <strong>Snapshot</strong></h2>
                        <div class="map">
                            <div class="marker paris" v-if="data.paris">
                                <a href="#" class="pin"><img class="img-fluid d-block" src="images/img-hover-hex.png"/></a>
                                <div class="location ">
                                    <div class="description">
                                        <span class="title">{{data.paris.name}}</span>
                                        <p>{{data.paris.description}}</p>
                                    </div>
                                    <div class="image">
                                        <img class="img-fluid d-block" :src="config.base_url + '/' + data.paris.path  + data.paris.file_name "/>
                                    </div>
                                </div>
                            </div>
                            <img class="img-fluid d-block mx-auto map" src="/images/map.png"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-lg-4">
                    <div id="banner" class="projects">
                        <div id="inner-banner">
                            <img class="d-block" src="/images/projects-eye.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import Config from "../../../configs/app.config";

    import ProjectService from "../../../cores/services/project/project.service";

    const config = Config;

    const projectService = new ProjectService();
    export default {
        data: function () {
            return {
                data: {
                    paris: {}
                },
                config: {
                    base_url: config.base_url
                }
            }
        },
        mounted: function () {
            this.list();
        },
        methods: {

            list: function () {
                return projectService.list().then(success => {
                    this.data = success.data;
                    this.data.forEach((value,key) => {
                        if (value.name.indexOf('Paris') >= 0) {
                            this.data.paris = value;
                        }
                    })
                });
            }
        }
    }
</script>
<style scoped>

</style>