<template>

    <section id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="text-content wow fadeInDown" data-wow-delay="2s">
                        <span class="text-divider">
                            <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png" />
                        </span>
                        <h2 class="mb-3">Get <strong>In Touch</strong></h2>
                        <p>Fill up this form to contact us if you have any further questions.</p>
                        <form>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6 pr-lg-2">
                                    <input type="text" placeholder="First Name" v-model="data.first_name">
                                </div>
                                <div class="col-xs-12 col-lg-6 pl-lg-2">
                                    <input type="text" placeholder="Last Name" v-model="data.last_name">
                                </div>
                                <div class="col-12">
                                    <input type="email" placeholder="Email" v-model="data.email">
                                </div>
                                <div class="col-12">
                                    <input type="number" placeholder="Phone" v-model="data.phone_number"
                                        pattern="/^-?\d+\.?\d*$/"
                                        onKeyPress="if(this.value.length==11) return false;" />
                                </div>
                                <div class="col-12">
                                    <textarea name="" placeholder="Messages" v-model="data.message"></textarea>
                                </div>
                                <div class="col-12">
                                    <label for="chkAgree" class="text-white">
                                        <input type="checkbox" name="agree" id="chkAgree" value="1"
                                            v-model="data.agree">&nbsp; I hereby
                                        certify that all the information
                                        above is true and accurate.
                                    </label>
                                </div>
                                <div class="col-12">
                                    <button v-on:click="submit()" class="btn btn-primary mt-4 mt-lg-5" type="button">Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mobileView">
                        <img class="zIndex d-block" src="/images/contact-hands.gif" />
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div id="banner">
                        <div id="inner-banner">
                            <img class=" d-block" src="/images/home-eye.png" />
                            <img class=" d-block" src="/images/contact-hands.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import Config from "../../../configs/app.config";
    import AlertService from "../../../cores/services/alert/alert.service";
    import ContactService from "../../../cores/services/contact/partner.service";

    const config = Config;

    const alertService = new AlertService();
    const contactService = new ContactService();
    export default {
        data: function () {
            return {
                data: {}
            }
        },

        mounted: function () {

        },
        methods: {

            submit: function () {

                return contactService.store(this.data).then(success => {
                    alertService.submitWithMessage(
                        "Thanks for contacting us! We will get in touch with you soon.");
                    this.data = {};
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            }
        }
    }
</script>