<template>

    <section>
        <div class="fullscreen-bg">
            <video loop muted autoplay poster="/videos/ipgh-bg.jpg" class="fullscreen-bg__video">
                <source src="/videos/IPGH-Backgorund.webm" type="video/webm">
                <source src="/videos/IPGH-Backgorund.mp4" type="video/mp4">
                <source src="/videos/IPGH-Backgorund.ogv" type="video/ogg">
            </video>
        </div>

        <div id="about">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <div class="text-content wow fadeInDown" data-wow-delay="3s">
                            <span class="text-divider">
                                <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png" />
                            </span>
                            <h2 class="mb-4 mb-lg-5">About <strong>Us</strong></h2>
                            <pre>
                                <p>{{data.about.name}}</p>
                            </pre>

                            <div class="mobileView py-4">
                                <!-- <img class="zIndex img-fluid d-block" src="/images/about-eye-mobile.png" /> -->
                                <img class="zIndex img-fluid d-block d-block" src="/images/img-point-circuit.gif" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div id="banner" class="about wow fadeIn" data-wow-delay="1.5s">
                            <div id="inner-banner">
                                <img class="d-block" src="/images/img-point-circuit.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="awards" class="ml-lg-280">
            <div class="image w-100 d-none d-lg-block">
                <img class="divider-gif" src="/images/divider-v2.gif" />
            </div>
            <div class="container-fluid p-top-27">
                <div class="row text-center">
                    <div class="col-lg-7 mx-auto">
                        <p class="">AWARDS</p>

                        <!-- <div class="row my-4 my-lg-5 justify-content-center">
                            <div class="col"> <img src="/images/about/award1.png" alt="" class="img-fluid mb-3"> </div>
                            <div class="col"> <img src="/images/about/award2.png" alt="" class="img-fluid mb-3"> </div>
                            <div class="col"> <img src="/images/about/award3.png" alt="" class="img-fluid mb-3"> </div>
                            <div class="col"> <img src="/images/about/award4.png" alt="" class="img-fluid mb-3"> </div>
                            <div class="col"> <img src="/images/about/award5.png" alt="" class="img-fluid mb-3"> </div>
                        </div> -->
                        <div class="awards-wrapper">
                            <!--<div class="slideControls">
                                <a class="slidePrev">
                                <i class="fa fa-chevron-circle-left fa-2x"></i>
                                </a>
                                <a class="slideNext">
                                <i class="fa fa-chevron-circle-right fa-2x"></i>
                                </a>
                            </div> 
                            <ul id="awards-slider">
                                <li v-for="(value, key) in data.about_images"><img :src="config.base_url + '/' + value.path + value.file_name" alt="" class="img-fluid"></li>
                            </ul>-->



                            <div id="awardsSlide" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item" :class="{'active' : key == 0}" v-for="(value, key) in data.about_images">
                                        <!-- <p class="mt-5">{{value.name}}</p> -->
                                        <h2>{{value.name}}</h2>
                                        <img :src="config.base_url + '/' + value.path + value.file_name" alt="" class="img-fluid">
                                        <p class="h2 font-weight-bold mt-5">{{value.description}}</p>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#awardsSlide" role="button" data-slide="prev" :style="{'display:inline' : data.about_images.length > 0}">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a class="carousel-control-next" href="#awardsSlide" role="button" data-slide="next" :style="{'display:inline' : data.about_images.length > 0}">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>

                            <!--<p class="mt-5">test</p>
                            <p class="h2 font-weight-bold">test</p>-->


                        </div>


                    </div>

                </div>

            </div>
        </div>

        <div id="our-team">
            <div class="container-fluid">
                <div class="row wow fadeIn" data-wow-delay="0.5s">
                    <div class="col-xs-12 col-lg-12 col-md-12 team-wrapper">
                        <div class="text-content">
                            <span class="text-divider">
                                <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png" />
                            </span>
                            <h2 class="mb-5">Our <strong>Team</strong></h2>
                        </div>
                        <div class="row mb-lg-5">
                            <div class="col-sm-4" v-for="(value, key) in data.about_management">
                                <!--<div class="col-5 col-lg-4 mb-lg-5 pr-0 pr-lg-3">
                                </div>-->   
                                <img :src="config.base_url + '/' + value.path + value.file_name" class="profile-img img-fluid d-block mx-auto" alt="">
                                <p class="text-center mt-3"> <strong>{{value.name}}</strong> <br> {{value.position}}</p>
                                <p class="small text-center mr-4 mb-5">{{value.description}}</p>
                                <div class="w-100"></div>
                            </div>
                        </div>

                        <div class="text-content">
                            <span class="text-divider">
                                <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png" />
                            </span>
                        </div>
                        <div class="row pr-lg-5 wow fadeIn" data-wow-delay="0.5s">
                            <div class="text-lg-center mx-auto" v-for="(value, key) in data.about_teams">
                                <div>
                                    <img :src="config.base_url + '/' + value.path + value.file_name" class="team-img img-fluid d-block mx-auto mt-5" alt="">
                                    <div class="container">
                                        <p class="font-weight-bold text-center mt-3">{{value.name}}</p>
                                        <p class="team-desc small text-center">{{value.description}}</p>
                                    </div>
                                </div>

                                <!-- <div class="row">
                                    <div class="col-12 col-lg-12 pr-0 pr-lg-3 mb-3">
                                        <img :src="config.base_url + '/' + value.path + value.file_name" class="img-fluid d-block" alt="">
                                    </div>
                                    <div class="col-12 col-lg-12">
                                        <p class="font-weight-bold">{{value.name}}</p>
                                        <p class="small">{{value.description}}</p>
                                    </div>
                                </div> -->
                            </div>

                        </div>


                    </div>
                    <div class="banner-wrapper col-xs-12 col-lg-4 d-none d-lg-block">
                        <div id="banner" class="about">
                            <div id="inner-banner">
                                <img class="d-block" src="/images/projects-eye.png" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

</template>

<script>
    import AboutService from "../../../cores/services/about/about.service";
    import Config from "../../../configs/app.config";


    const config = Config;
    const aboutService = new AboutService();
    export default {
        data: function() {
            return {
                data: {
                    about: {}
                },
                config: {
                    base_url: config.base_url
                }
            }
        },
        mounted: function() {
            this.show();
        },
        methods: {

            show: function() {
                return aboutService.list().then(success => {
                    this.data = success.data;
                });
            },
        }
    }

</script>

<style scoped>

</style>
