<template>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 copyright">
                    Copyright 2019 | All Rights Reserved
                </div>
                <div class="col-6">
                    <div class="social float-right">
                        <ul>
                            <!-- <li><a href="#"><i class="fab fa-facebook-square"></i></a></li> -->
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-youtube"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</template>


<script>
    import CompanyService from "../services/company/company.service";

    const companyService = new CompanyService();
    import Config from "../../configs/app.config";
    const config = Config;
    export default {
        data: function() {
            return {
                data: {},
                config: {
                    base_url: config.base_url
                }
            }
        },
        mounted: function() {
            this.list();
        },
        methods: {

            list: function() {
                return companyService.list().then(success => {
                    this.data = success.data;
                });
            }
        }
    }

</script>

<style scoped>

</style>
