<template>

    <div id="home-banner">
        <div id="inner-home-banner">
            <img class="zIndex img-fluid d-block" src="images/home-eye.png"/>
            <img class="glitch-img img-fluid d-block" src="images/eye.png"/>
        </div>
    </div>

</template>

<script>

    export default {
        name: "home-banner.component",
        mounted() {
            // require('../../../public/js/app.js');
            require('../../../public/js/plugins.js');
            require('../../../public/js/main.js');
            // require('../../../public/js/animation.js');

        }
    }
</script>

<style scoped>

</style>