<template>
    <header>
        <div class="logo">
            <a href="/">
                <img class="img-fluid logo-with-text" src="/images/ipgh-logo.svg" width="364" height="72" />
            </a>
            <a href="/">
                <img class="img-fluid logo-only" src="/images/logo-only.svg" />
            </a>
        </div>
        <span class="menu-dropdown">
            <img class="img-fluid d-block" src="/images/navicon.svg" />
        </span>


        <!--Mobile Nav-->
        <nav class="mobile">
            <ul>
                <li>
                    <a :href="config.base_url + '#key-initiative'">Key Initiatives</a>
                </li>
                <li>
                    <a :href="config.base_url + '#sectors-we-serve'">Sectors We Serve</a>
                </li>
                <li class="#about">
                    <a :href="config.base_url + '/about'">About</a>
                </li>
                <li>
                    <a :href="config.base_url + '/about#our-team'">Our Team</a>
                </li>
                <li>
                    <a :href="config.base_url + '/partners'">Partners</a>
                </li>
                <li><a :href="config.base_url + '/companies'">Companies</a>
                </li>
                <!--<li v-for="(value,key) in data"><a :href="config.base_url + '/company/'+value.slug" class="text-capitalize">{{value.name}}</a></li>-->

                <li>
                    <a :href="config.base_url + '/news-and-press'">News &amp; Press</a>
                </li>
                <li>
                    <a :href="config.base_url + '/contact'">Contact</a>
                </li>

            </ul>
            <span class="text-divider">
                <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png" />
            </span>
        </nav>

        <nav>
            <ul>
                <li class="">
                    <a class="home" :href="config.base_url">Home</a>
                </li>
                <li class="pl-lg-3" :class="{'active' : $route.hash == '#key-initiative'}">
                    <a :href="config.base_url + '#key-initiative'">Key Initiatives</a>
                </li>
                <li class="pl-lg-3" :class="{'active' : $route.hash == '#sectors-we-serve'}">
                    <a :href="config.base_url + '#sectors-we-serve'">Sectors We Serve</a>
                </li>
                <li><span class="divider"></span></li>
                <li class="#about" >
                    <a :href="config.base_url + '/about'">About</a>
                </li>
                <li class="pl-lg-3" :class="{'active' : $route.path == '/about'}">
                    <a :href="config.base_url + '/about#our-team'">Our Team</a>
                </li>
                <li><span class="divider"></span></li>
                <li :class="{'active' : $route.path == '/companies'}"><a :href="config.base_url + '/companies'">Companies</a>
                </li>
               <!-- <li class="pl-lg-3" v-for="(value,key) in data"><a :href="config.base_url + '/company/'+value.slug" class="text-capitalize">{{value.name}}</a></li>-->
                <!--<li><span class="divider"></span></li>-->
                <li :class="{'active' : $route.path == '/partners'}">
                    <a :href="config.base_url + '/partners'">Partners</a>
                </li>
                <li :class="{'active' : $route.path == '/news-and-press'}">
                    <a :href="config.base_url + '/news-and-press'">News &amp; Press</a>
                </li>
                <li :class="{'active' : $route.path == '/contact'}">
                    <a :href="config.base_url + '/contact'">Contact</a>
                </li>


            </ul>
        </nav>
    </header>


</template>

<script>
    import CompanyService from "../services/company/company.service";

    const companyService = new CompanyService();
    import Config from "../../configs/app.config";
    const config = Config;
    export default {
        data: function() {
            return {
                data: {},
                config: {
                    base_url: config.base_url
                }
            }
        },
        mounted: function() {
            this.list();
        },
        methods: {

            list: function() {
                return companyService.list().then(success => {
                    this.data = success.data;
                });
            }
        }
    }

</script>

<style scoped>

</style>
