<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">{{config.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <router-link tag="a" :to="{ name: 'company-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                               aria-controls="main" aria-selected="true">Main</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="subcompany-tab" data-toggle="tab" href="#subcompany" role="tab"
                               aria-controls="subcompany" aria-selected="false">SubCompanies</a>
                        </li>

                    </ul>

                    <form>
                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                    </div>
<!--                                    <div class="col-md-12 pr-3 pl-3">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Link*</label>-->
<!--                                            <input type="text" v-model="data.link" class="form-control"-->
<!--                                                   placeholder="ex. http://google.com/">-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="col-md-12 pr-3 pl-3">
                                        <div class="form-group">
                                            <label>Location*</label>
                                            <input type="text" v-model="data.location" class="form-control"
                                                   placeholder="Location">
                                        </div>
                                    </div>
                                </div>
                                
<!--                                <div class="row">-->
<!--                                    <div class="col-md-12">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Company Logo-->
<!--                                                  <input style="display:none; height: 48px;" type="file" class="form-control"-->
<!--                                                   accept="image/*"-->
<!--                                                   @change="uploadImage($event)" id="file-input">-->
<!--                                            <a class="btn btn-upload d-block">Upload Image/s</a></label>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                                <div class="row">-->

<!--                                    <div class="col-md-4" v-if="data.path && data.file_name">-->

<!--                                        <a @click="removeImage()" class="text text-dark"-->
<!--                                           style="position: absolute; right:20px; cursor: pointer;"><i-->
<!--                                                class="fa fa-times-circle"-->
<!--                                                style="font-size:25px"></i></a>-->
<!--                                        <img v-bind:src="config.base_url + '/' +data.path + data.file_name"-->
<!--                                             class="img-thumbnail" style="background-color:rgba(0,0,0,0.2);">-->

<!--                                    </div>-->

<!--                                </div>                                -->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea rows="4" v-model="data.description" cols="80" class="form-control"
                                                      placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="subcompany" role="tabpanel" aria-labelledby="subcompany-tab">
                                <div class="row" v-for="(value, key) in data.subcompany">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="value.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea rows="4" v-model="value.description" cols="80" class="form-control"
                                                      placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                        </div>
                                        <a class="btn btn-outline-warning" @click="removeSubcompany(key)">x Remove SubCompany</a>
                                    </div>
                                </div>
                                <a class="btn btn-outline-primary" @click="addSubcompany()" v-if="data.subcompany.length < 8">+ Add SubCompany</a>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-12 text-center">
                                <button type="button" v-on:click="$route.params.id ? update() : store() "
                                        class="btn btn-info btn-fill">{{config.title}}
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>


    import UploadService from '../../../../cores/services/upload/upload.service';

    import CompanyService from '../../../../cores/services/admin/company/company.service';
    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';


    const config = Config;
    const uploadService = new UploadService();
    const companyService = new CompanyService();
    const alertService = new AlertService();

    export default {
        data: function () {
            return {
                data: {
                    path: '',
                    subcompany: [
                        {
                            name: '',
                            description: ''
                        }
                    ]
                },
                config: {
                    base_url: Config.base_url,
                    title: 'Create Company',
                }
            }
        },
        mounted: function () {
            if (this.$route.params.id) {
                this.config.title = 'Update Company';
                this.show(this.$route.params.id);
            }
        },
        methods: {

            uploadImage(event) {
                alertService.uploading();
                uploadService.uploadImage(config.admin_prefix + '/api/upload/image', event).then(success => {
                    Object.assign(this.data, success.data);
                    // this.data = success.data;

                    alertService.uploadSuccess();
                }).catch(error => {

                });

            },
            removeImage() {

                this.data.path = '';
                this.data.file_name = '';
            },
            store: function () {

                this.data._token = token;

                return companyService.store(this.data).then(success => {
                    alertService.saved();
                    this.data = {
                        path: '',
                        subcompany: [
                            {
                                name: '',
                                description: ''
                            }
                        ]
                    };
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });
            },
            update: function () {

                return companyService.update(this.data).then(success => {
                    alertService.updated();
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            show(id) {

                return companyService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;

                }).catch(error => {

                });

            },
            addSubcompany(){
                this.data.subcompany.push({
                    name: '',
                    description: ''
                });
            },
            removeSubcompany(key){
                this.$delete(this.data.subcompany, key)
            }
        }
    }
</script>

<style scoped>

</style>
