<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">{{config.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <router-link tag="a" :to="{ name: 'sector-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                               aria-controls="main" aria-selected="true">Main</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab"
                               aria-controls="images" aria-selected="false">Images</a>
                        </li>-->

                    </ul>

                    <form>
                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Image/s &nbsp;<small>(This image is use for the hover effect.)</small>
                                                <br><span>Recommended size: 213x186</span>
                                            <input style="display:none; height: 48px;" type="file" class="form-control"
                                                   accept="image/*"
                                                   @change="uploadImage($event)" id="file-input">
                                            <a class="btn btn-upload d-block">Upload Image/s</a>
                                            </label>
                                            
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4" v-for="(value,key) in data.has_many_sector_image">

                                        <a @click="removeImage(key)" class="text text-dark"
                                           style="position: absolute; right:20px; cursor: pointer;"><i
                                                class="fa fa-times-circle"
                                                style="font-size:25px"></i></a>
                                        <img v-bind:src="config.base_url + '/'  +value.path + value.file_name"
                                             class="img-thumbnail">
                                        <div>
                                            <label>
                                                <input type="radio" value="1" name="primary" v-model="value.primary"
                                                       v-on:click="setPrimaryImage(key)">
                                                Primary
                                            </label>
                                        </div>

                                    </div>

                                </div>                                

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea rows="4" v-model="data.description" cols="80" class="form-control"
                                                      placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">


                            </div>-->

                        </div>

                        <div class="row">

                            <div class="col-md-12 text-center">
                                <button type="button" v-on:click="$route.params.id ? update() : store() "
                                        class="btn btn-info btn-fill">{{config.title}}
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>


    import UploadService from '../../../../cores/services/upload/upload.service';

    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import SectorService from "../../../../cores/services/admin/sector/sector.service";


    const config = Config;
    const uploadService = new UploadService();

    const alertService = new AlertService();
    const sectorService = new SectorService();

    export default {
        data: function () {
            return {
                data: {
                    // path: ''
                    has_many_sector_image: []
                },
                config: {
                    base_url: Config.base_url,
                    title: 'Create Sector',
                }
            }
        },
        mounted: function () {
            if (this.$route.params.id) {
                this.config.title = 'Update Sector';
                this.show(this.$route.params.id);
            }
        },
        methods: {

            uploadImage(event) {
                alertService.uploading();
                uploadService.uploadImage(config.admin_prefix + '/api/upload/image', event).then(success => {

                    success.data.primary = this.data.has_many_sector_image.length == 0 ? 1 : 0;
                    this.data.has_many_sector_image.push(success.data);

                    alertService.uploadSuccess();


                }).catch(error => {

                });

            },
            setPrimaryImage: function (id) {

                this.data.has_many_sector_image.forEach((value, key) => {
                    value.primary = key == id ? 1 : 0;

                });

            },
            removeImage: function (key) {

                this.data.has_many_sector_image.splice(key, 1);
            },
            store: function () {

                return sectorService.store(this.data).then(success => {
                    alertService.saved();
                    this.data = {
                        has_many_sector_image: []
                    };
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            update: function () {

                // Object.assign(this.data, this.image);
                // partnerService.update(this.data);
                return sectorService.update(this.data).then(success => {
                    alertService.updated();
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            show(id) {

                return sectorService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;

                }).catch(error => {

                });

            }
        }
    }
</script>

<style scoped>

</style>
