<template>

    <section id="companies">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="text-content wow fadeInDown" data-wow-delay="2s">
                    <span class="text-divider">
                        <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png"/>
                    </span>
                        <h2 class="mb-5">{{data.name}}</h2>
                        <img class="img-fluid d-block mb-4" :src="'/'+ data.path + data.file_name"/>
                        <p>{{data.description}}</p>
                        <a :href="data.link ? data.link : $route.path" target="_blank" class="btn btn-primary mt-4 mb-5">View Company</a>

                        <div class="mobileView">
                            <img class="zIndex img-fluid d-block" src="/images/eye2.gif"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="hexagon"></div>
                </div>
            </div>
        </div>
    </section>


</template>

<script>

    import CompanyService from "../../../cores/services/company/company.service";

    const companyService = new CompanyService();
    export default {
        data: function () {
            return {
                data: {}
            }
        },
        mounted: function () {

            this.show(this.$route.params.slug);
        },
        methods: {
            show: function (slug) {

                return companyService.show(slug).then(success => {

                    var response = success.data;

                    this.data = response;
                });
            }
        }
    }
</script>

<style scoped>

</style>
