<template>

    <section id="companies">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="hex-block _outer companies-hex">
                        <div class="hex _1"></div>
                        <div class="hex _2" v-bind:class="{ 'sub_companies': data.companies[3] }" v-on:click="show(3)">
                            <span class="d-block my-2" v-if="data.companies[3]">{{data.companies[3].name}}</span>
                        </div>
                        <div class="hex _3" v-bind:class="{ 'sub_companies': data.companies[0] }" v-on:click="show(0)">
                            <span class="d-block my-2" v-if="data.companies[0]">{{data.companies[0].name}}</span>
                        </div>
                        <div class="hex _4" v-bind:class="{ 'sub_companies': data.companies[1] }" v-on:click="show(1)">
                            <span class="d-block my-2" v-if="data.companies[1]">{{data.companies[1].name}}</span>
                        </div>
                        <div class="hex _5 default">
                            <span class="text-uppercase title">IPGH</span>
                        </div>
                        <div class="hex _6" v-bind:class="{ 'sub_companies': data.companies[4] }" v-on:click="show(4)">
                            <span class="d-block my-2" v-if="data.companies[4]">{{data.companies[4].name}}</span>
                        </div>
                        <div class="hex _7" v-bind:class="{ 'sub_companies': data.companies[5] }" v-on:click="show(5)">
                            <span class="d-block my-2" v-if="data.companies[5]">{{data.companies[5].name}}</span>
                        </div>
                        <div class="hex _8" v-bind:class="{ 'sub_companies': data.companies[2] }" v-on:click="show(2)">
                            <span class="d-block my-2" v-if="data.companies[2]">{{data.companies[2].name}}</span>
                        </div>
                        <div class="hex _9"></div>
                        <div class="hex _10"></div>
                        <div class="hex _11" v-bind:class="{ 'sub_companies': data.companies[6] }" v-on:click="show(6)">
                            <span class="d-block my-2" v-if="data.companies[6]">{{data.companies[6].name}}</span>
                        </div>
                        <div class="hex _12" v-bind:class="{ 'sub_companies': data.companies[7] }" v-on:click="show(7)">
                            <span class="d-block my-2" v-if="data.companies[7]">{{data.companies[7].name}}</span>
                        </div>
                        <div class="hex _13"></div>
                        <div class="hex _14"></div>
                        <div class="hex _15"></div>
                        <div class="hex _16"></div>
                        <div class="hex _17"></div>
                        <div class="hex _18"></div>
                    </div>
                        

                    <div class="hex-block _inner">
                        <div class="hex _back">
                            <span>IPGH</span>
                        </div>
                        <div class="nav nav-tabs" id="myTab" role="tablist" v-if="data.subcompany == 1">
                            <div class="hex _1 active" data-toggle="tab" :href="'#'+data.selected.slug" role="tab" :aria-controls="data.selected.slug" aria-selected="true" @click="showText()">
                                <span class="d-block my-2">{{data.selected.name}}</span>
                            </div>

                            <div class="hex _2" data-toggle="tab" v-if="data.selected.subcompany[0]" :href="'#subcompany'+data.selected.subcompany[0].id" role="tab" :aria-controls="'subcompany'+data.selected.subcompany[0].id" aria-selected="true" @click="showText()">
                                <span class="d-block my-2">{{ data.selected.subcompany[0].name }}</span>
                            </div>
                            <div class="hex _2" v-else></div>

                            <div class="hex _3" data-toggle="tab" v-if="data.selected.subcompany[1]" :href="'#subcompany'+data.selected.subcompany[1].id" role="tab" :aria-controls="'subcompany'+data.selected.subcompany[1].id" aria-selected="true" @click="showText()">
                                <span class="d-block my-2">{{ data.selected.subcompany[1].name }}</span>
                            </div>
                            <div class="hex _3" v-else></div>

                            <div class="hex _4" data-toggle="tab" v-if="data.selected.subcompany[2]" :href="'#subcompany'+data.selected.subcompany[2].id" role="tab" :aria-controls="'subcompany'+data.selected.subcompany[2].id" aria-selected="true" @click="showText()">
                                <span class="d-block my-2">{{ data.selected.subcompany[2].name }}</span>
                            </div>
                            <div class="hex _4" v-else></div>

                            <div class="hex _5" data-toggle="tab" v-if="data.selected.subcompany[3]" :href="'#subcompany'+data.selected.subcompany[3].id" role="tab" :aria-controls="'subcompany'+data.selected.subcompany[3].id" aria-selected="true" @click="showText()">
                                <span class="d-block my-2">{{ data.selected.subcompany[3].name }}</span>
                            </div>
                            <div class="hex _5" v-else></div>

                            <div class="hex _6" data-toggle="tab" v-if="data.selected.subcompany[4]" :href="'#subcompany'+data.selected.subcompany[4].id" role="tab" :aria-controls="'subcompany'+data.selected.subcompany[4].id" aria-selected="true" @click="showText()">
                                <span class="d-block my-2">{{ data.selected.subcompany[4].name }}</span>
                            </div>
                            <div class="hex _6" v-else></div>

                            <div class="hex _7" data-toggle="tab" v-if="data.selected.subcompany[5]" :href="'#subcompany'+data.selected.subcompany[5].id" role="tab" :aria-controls="'subcompany'+data.selected.subcompany[5].id" aria-selected="true" @click="showText()">
                                <span class="d-block my-2">{{ data.selected.subcompany[5].name }}</span>
                            </div>
                            <div class="hex _7" v-else></div>

                            <div class="hex _8" data-toggle="tab" v-if="data.selected.subcompany[6]" :href="'#subcompany'+data.selected.subcompany[6].id" role="tab" :aria-controls="'subcompany'+data.selected.subcompany[6].id" aria-selected="true" @click="showText()">
                                <span class="d-block my-2">{{ data.selected.subcompany[6].name }}</span>
                            </div>
                            <div class="hex _8" v-else></div>

                            <div class="hex _11" data-toggle="tab" v-if="data.selected.subcompany[7]" :href="'#subcompany'+data.selected.subcompany[7].id" role="tab" :aria-controls="'subcompany'+data.selected.subcompany[7].id" aria-selected="true" @click="showText()">
                                <span class="d-block my-2">{{ data.selected.subcompany[7].name }}</span>
                            </div>
                            <div class="hex _11" v-else></div>
                        </div>
                        <div v-if="data.subcompany == 0">
                            <div class="hex _1"></div>
                            <div class="hex _2"></div>
                            <div class="hex _3"></div>
                        </div>
                        <div class="hex _9"></div>
                        <div class="hex _10"></div>
                        <div class="hex _12"></div>
                        <div class="hex _13"></div>
                        <div class="hex _14"></div>
                        <div class="hex _15"></div>
                        <div class="hex _16"></div>
                        <div class="hex _17"></div>
                        <div class="hex _18"></div>
                        
                        <div class="hex-text" v-if="data.subcompany == 1">
                        <a class="close" aria-label="Close" id="close_" @click="hide()">
                            <span aria-hidden="true">x</span>
                        </a>
                            <div class="tab-content">
                                <div class="tab-pane show active caption" :id="data.selected.slug" role="tabpanel" :aria-labelledby="data.selected.slug+'-tab'">
                                    <h1>{{data.selected.name}} <span>({{data.selected.location}})</span></h1>
                                    <div class="caption-wrapper">
                                        <p>{{data.selected.description}}</p>
                                    </div>
                                </div>
                                <div class="tab-pane caption" v-if="data.selected.subcompany[0]" :id="'subcompany'+data.selected.subcompany[0].id" role="tabpanel" :aria-labelledby="'subcompany'+data.selected.subcompany[0].id+'-tab'">
                                    <h1>{{data.selected.subcompany[0].name}}</h1>
                                    <div class="caption-wrapper">
                                    <p>{{data.selected.subcompany[0].description}}</p>
                                    </div>
                                </div>
                                <div class="tab-pane caption" v-if="data.selected.subcompany[1]" :id="'subcompany'+data.selected.subcompany[1].id" role="tabpanel" :aria-labelledby="'subcompany'+data.selected.subcompany[1].id+'-tab'">
                                    <h1>{{data.selected.subcompany[1].name}}</h1>
                                    <div class="caption-wrapper">
                                    <p>{{data.selected.subcompany[1].description}}</p>
                                    </div>
                                </div>
                                <div class="tab-pane caption" v-if="data.selected.subcompany[2]" :id="'subcompany'+data.selected.subcompany[2].id" role="tabpanel" :aria-labelledby="'subcompany'+data.selected.subcompany[2].id+'-tab'">
                                    <h1>{{data.selected.subcompany[2].name}}</h1>
                                    <div class="caption-wrapper">
                                    <p>{{data.selected.subcompany[2].description}}</p>
                                    </div>
                                </div>
                                <div class="tab-pane caption" v-if="data.selected.subcompany[3]" :id="'subcompany'+data.selected.subcompany[3].id" role="tabpanel" :aria-labelledby="'subcompany'+data.selected.subcompany[3].id+'-tab'">
                                    <h1>{{data.selected.subcompany[3].name}}</h1>
                                    <div class="caption-wrapper">
                                        <p>{{data.selected.subcompany[3].description}}</p>
                                    </div>
                                </div>
                                <div class="tab-pane caption" v-if="data.selected.subcompany[4]" :id="'subcompany'+data.selected.subcompany[4].id" role="tabpanel" :aria-labelledby="'subcompany'+data.selected.subcompany[4].id+'-tab'">
                                    <h1>{{data.selected.subcompany[4].name}}</h1>
                                    <div class="caption-wrapper">
                                        <p>{{data.selected.subcompany[4].description}}</p>
                                    </div>
                                </div>
                                <div class="tab-pane caption" v-if="data.selected.subcompany[5]" :id="'subcompany'+data.selected.subcompany[5].id" role="tabpanel" :aria-labelledby="'subcompany'+data.selected.subcompany[5].id+'-tab'">
                                    <h1>{{data.selected.subcompany[5].name}}</h1>
                                    <div class="caption-wrapper">
                                        <p>{{data.selected.subcompany[5].description}}</p>
                                    </div>
                                </div>
                                <div class="tab-pane caption" v-if="data.selected.subcompany[6]" :id="'subcompany'+data.selected.subcompany[6].id" role="tabpanel" :aria-labelledby="'subcompany'+data.selected.subcompany[6].id+'-tab'">
                                    <h1>{{data.selected.subcompany[6].name}}</h1>
                                    <div class="caption-wrapper">
                                        <p>{{data.selected.subcompany[6].description}}</p>
                                    </div>
                                </div>
                                <div class="tab-pane caption" v-if="data.selected.subcompany[7]" :id="'subcompany'+data.selected.subcompany[7].id" role="tabpanel" :aria-labelledby="'subcompany'+data.selected.subcompany[7].id+'-tab'">
                                    <h1>{{data.selected.subcompany[7].name}}</h1>
                                    <div class="caption-wrapper">
                                        <p>{{data.selected.subcompany[7].description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    

</template>

<script>

    import CompanyService from "../../../cores/services/company/company.service";

    const companyService = new CompanyService();
    export default {
        data: function () {
            return {
                data: {
                    companies: {},
                    selected: {},
                    subcompany: 0
                }
            }
        },
        mounted: function () {

            

            this.list();
            window.onload = function () {
                $('.sub_companies').click(function() {
                    $('#companies .hex-block .hex._1, #companies .hex-block .hex._2, #companies .hex-block .hex._3, #companies .hex-block .hex._4, #companies .hex-block .hex._6, #companies .hex-block .hex._7, #companies .hex-block .hex._8, #companies .hex-block .hex._11, #companies .hex-block .hex._12').css({
                        // 'background': 'url(../images/img-hex-tile-gray-low-opacity.png) no-repeat center'
                        // 'opacity': 0
                    });
                    // $('.companies-hex .hex-block .hex._2, .companies-hex .hex-block .hex._3').click(true);
                    $('.companies-hex').css({'display':'none'});
                });
                /* $('.close').click(() => {
                    
                    // $('.tab-content').addClass('hide-content');
                }); */
                
                $('#companies .hex-block .hex._back').click((e) => {
                    e.preventDefault();
                    $('#companies .hex-block .hex._1, #companies .hex-block .hex._2, #companies .hex-block .hex._3, #companies .hex-block .hex._4, #companies .hex-block .hex._6, #companies .hex-block .hex._7, #companies .hex-block .hex._8, #companies .hex-block .hex._11, #companies .hex-block .hex._12').css({
                        'background': '',
                        'opacity': 1
                    });

                    $('#companies .hex-block .hex._1, #companies .hex-block .hex._2, #companies .hex-block .hex._3, #companies .hex-block .hex._4, #companies .hex-block .hex._6, #companies .hex-block .hex._7, #companies .hex-block .hex._8, #companies .hex-block .hex._11, #companies .hex-block .hex._12').mouseover(() => {
                        $(this).css({
                            'background': '',
                            'transition': '',
                            'opacity': 1
                        });
                    });
                    
                    $('#companies .hex-block .hex._1, #companies .hex-block .hex._2, #companies .hex-block .hex._3, #companies .hex-block .hex._4, #companies .hex-block .hex._6, #companies .hex-block .hex._7, #companies .hex-block .hex._8, #companies .hex-block .hex._11, #companies .hex-block .hex._12').mouseout(() => {
                        $(this).css({
                            'background': '',
                            'transition': '',
                            'opacity': 1
                        });
                    });
                    // $('.companies-hex .hex-block .hex._2, .companies-hex .hex-block .hex._3').click(false);
                    $('.companies-hex').css({'display':'block'});
                });

                this.data.subcompany = 0;
            }
               
            
        },
        methods: {
            list: function () {

                return companyService.list().then(success => {

                    var response = success.data;

                    this.data.companies = response;
                });
            },
            show: function (key) {
                // console.log("change");
                if(this.data.companies[key]){
                    this.data.selected = this.data.companies[key];
                    this.data.subcompany = 1;
                }
            },

            hide: function () {
                    $('.hex-text').hide();
            },

            showText: function() {
                $('.hex-text').show();
            }
        }
    }
</script>

<style scoped>

</style>
