html {
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: black;
    color: #fff;
    font-size: 16px;
}
pre {
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    color: #fff;
    white-space: pre-wrap;
    text-align: justify;
    overflow: hidden;
    margin-top: -33px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {}

h4 {}

h5 {}

p {
    font-size: 1rem;
}

label {
    font-size: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.2s ease;
    outline: none;
    cursor: pointer;

    &:hover {}
}

header {
    position: fixed;
    z-index: 3;

    &.scrolledDown {
        background: rgba(0, 0, 0, 0.15);

        .logo {
            max-width: 100px;
            left: 68px;
            margin: 0;
            top: 50px;
            position: absolute;
            transition: all 0.5s ease;
        }

        .logo-with-text {
            display: none;
        }

        .logo-only {
            display: block;
        }

    }

    .logo {
        position: fixed;
        left: 30px;
        top: 50px;
        opacity: 0;

        img {
            transition: all 0.5s ease;
        }
    }

    .logo-only {
        display: none;
    }

    .menu-dropdown {
        display: none;
    }

    nav {
        position: relative;
        width: 100%;
        max-width: 240px;
        margin: 170px 0 50px;
        left: 0;
        padding: 30px;
        overflow: auto;
        height: calc(100vh - 200px);

        /* width */
        &::-webkit-scrollbar {
            width: 3px;
            @include border-radius(4px);
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        ul {
            padding: 20px 0;
            background: url(../images/img-tech-divider-top-nav.svg) top left no-repeat;

            li {
                margin: 5px 0;

                a {
                    display: block;
                    text-transform: uppercase;
                    color: #fff;
                    // font-size: 1.125em;
                    font-size: 1rem;
                    padding: 2px 8px;
                }

                ul {
                    position: relative;
                    display: block;
                    background: none;
                    padding: 0;
                    margin: 0;

                    li {
                        padding-left: 20px;

                        a {
                            max-width: inherit;
                            font-size: 1em;
                            background: none;

                        }

                    }
                }

                span {
                    position: relative;
                    display: block;
                    max-width: 177px;
                    background: url(../images/img-tech-divider-mid-nav.svg) center left no-repeat;
                    height: 10px;
                    bottom: 0;
                    right: 0%;
                    opacity: 1;
                    transition: all 0.5s ease;
                    transition-delay: 0.2s;
                }

                &:hover,
                &:focus,
                &:active,
                &:active:focus,
                &.active {
                    a {
                        background: #fff;
                        color: #000 !important;
                        text-decoration: none;
                    }

                    ul {

                        &:after {}

                        li {

                            a {
                                background: none;
                                color: #fff !important;
                            }

                        }

                    }

                }
            }
        }

        &.mobile {
            display: none;
        }
    }
}

footer {
    background:#000;
    padding: 40px 20px;
    position: relative;
    z-index: 1;

    a {
        font-size: 1rem;
        margin-bottom: 0.25rem;
        display: inline-block;
    }

    .copyright {
        font-size: 1rem;
    }
}

section,
footer {
    .container-fluid {
        padding-left: 280px;
    }
}

#home {
    position: relative;
    /*background: url('/images/bg.png') no-repeat;*/
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;

    pre {
        white-space: pre-wrap;
        text-align: left;
    }
    .text-content {
        margin: 35vh 0;
        padding: 50px 35px 0 35px;

        a {
            margin: 50px 0;
        }
        h1 {
            font-size: 3.1rem;
        }
    }

    #home-banner {
        position: relative;
        perspective: 40px;
        margin: 0 20px;
        top: 100px;
        left: 0;

        #inner-home-banner {
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
            -moz-transition: transform 0.5s;
            -o-transition: transform 0.5s;

            img {
                position: absolute;
                left: 0;
                height: 75vh;

                &.glitch-img {
                    z-index: -1;
                }

                &.zIndex {
                    z-index: 100;
                }
            }
        }
    }

}

.ml-lg-280 {
    margin-left: -280px !important;
}

#mission,
#vision {
    position: relative;
    height: 300px;
    z-index: 1;

    &.mission-mg {
        margin-top: -76px;
    }

    .image {
        position: absolute;
        left: 0;
        top: 0;

        img {
            width: 100%;
            height: auto;
            margin-top: -37px;
        }
    }

    .caption {
        padding: 7rem 0;
    }
}

#key-initiative {
    position: relative;
    background: url('/images/bg.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    z-index: 2;
    -webkit-box-shadow: -1px 2px 23px 34px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 2px 23px 34px rgba(0, 0, 0, 1);
    box-shadow: -1px 2px 23px 34px rgba(0, 0, 0, 1);

    .text-content {
        margin: 100px 0;
    }

    .map {
        z-index: 1;
        position: relative;

        .marker {
            .location {
                max-width: 500px;
                .image {
                    max-width: 150px;
                    overflow: hidden;
                }
                .description {
                    ul {
                        list-style: disc;
                        padding-left: 10px;

                        li {
                            font-size: 1rem;
                            cursor: pointer;

                            &:hover,
                            &:focus,
                            &:active,
                            &:active:focus {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            &.philippines {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 51%;
                    left: 60%;
                    transform: scale(0.3);
                    cursor: pointer;

                    img {
                        width: 110px;
                    }
                }

                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 51%;
                    left: 69%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        // height: 150px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }

                &.active {
                    .pin {
                        transform: scale(0.5);
                    }

                    .location {
                        transition: all 0.5s ease;
                        top: 51%;
                        left: 69%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }

            &.indonesia {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 65%;
                    left: 55%;
                    transform: scale(0.3);
                    cursor: pointer;

                    img {
                        width: 110px;
                    }
                }

                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 64%;
                    left: 63%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        // height: 150px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            margin-top: 20px;
                            object-fit: cover;
                            width: 110px;
                        }
                    }

                }

                &.active {
                    .pin {
                        transform: scale(0.5);
                    }

                    .location {
                        transition: all 0.5s ease;
                        top: 64%;
                        left: 63%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }

            &.africa {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 53%;
                    left: 14%;
                    transform: scale(0.3);
                    cursor: pointer;

                    img {
                        width: 110px;
                    }
                }

                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 54%;
                    left: 24%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }

                &.active {
                    .pin {
                        transform: scale(0.5);
                    }

                    .location {
                        transition: all 0.5s ease;
                        top: 51%;
                        left: 18%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.uae {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 49%;
                    left: 31%;
                    transform: scale(0.3);
                    cursor: pointer;

                    img {
                        width: 110px;
                    }
                }

                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 48%;
                    left: 39%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }

                &.active {
                    .pin {
                        transform: scale(0.5);
                    }

                    .location {
                        transition: all 0.5s ease;
                        top: 48%;
                        left: 39%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }

            &.afghanistan {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 42%;
                    left: 36%;
                    transform: scale(0.3);
                    cursor: pointer;

                    img {
                        width: 110px;
                    }
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 41%;
                    left: 44%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }

                    .location {
                        transition: all 0.5s ease;
                        top: 41%;
                        left: 44%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.benin {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 58%;
                    left: 7%;
                    transform: scale(0.3);
                    cursor: pointer;
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 55%;
                    left: 12%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }

                    .location {
                        transition: all 0.5s ease;
                        top: 55%;
                        left: 12%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.gabon {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 64%;
                    left: 11%;
                    transform: scale(0.3);
                    cursor: pointer;

                    img {
                        width: 110px;
                    }
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 63%;
                    left: 19%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }

                    .location {
                        transition: all 0.5s ease;
                        top: 63%;
                        left: 19%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.iran {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 43%;
                    left: 31%;
                    transform: scale(0.3);
                    cursor: pointer;
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 38%;
                    left: 38%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }
                    .location {
                        transition: all 0.5s ease;
                        top: 38%;
                        left: 38%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.kuwait {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 45%;
                    left: 28%;
                    transform: scale(0.3);
                    cursor: pointer;
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 42%;
                    left: 33%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }
                    .location {
                        transition: all 0.5s ease;
                        top: 42%;
                        left: 33%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.mauritania {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 0%;
                    transform: scale(0.3);
                    cursor: pointer;
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 47%;
                    left: 5%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }
                    .location {
                        transition: all 0.5s ease;
                        top: 47%;
                        left: 5%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.niger {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 53%;
                    left: 10%;
                    transform: scale(0.3);
                    cursor: pointer;

                    img {
                        width: 110px;
                    }
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 18%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }
                    .location {
                        transition: all 0.5s ease;
                        top: 50%;
                        left: 18%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.nigeria {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 58%;
                    left: 10%;
                    transform: scale(0.3);
                    cursor: pointer;
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 55%;
                    left: 17%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;

                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }
                    .location {
                        transition: all 0.5s ease;
                        top: 55%;
                        left: 17%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.saudi {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 45%;
                    left: 31%;
                    transform: scale(0.3);
                    cursor: pointer;
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 42%;
                    left: 36%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }
                    .location {
                        transition: all 0.5s ease;
                        top: 42%;
                        left: 36%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.senegal {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 55%;
                    left: -2%;
                    transform: scale(0.3);
                    cursor: pointer;
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 51%;
                    left: 3%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }
                    .location {
                        transition: all 0.5s ease;
                        top: 51%;
                        left: 3%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.sri-lanka {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 59%;
                    left: 44%;
                    transform: scale(0.3);
                    cursor: pointer;
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 57%;
                    left: 49%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }
                    .location {
                        transition: all 0.5s ease;
                        top: 57%;
                        left: 49%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.tanzania {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 68%;
                    left: 21%;
                    transform: scale(0.3);
                    cursor: pointer;
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 65%;
                    left: 26%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }
                    .location {
                        transition: all 0.5s ease;
                        top: 65%;
                        left: 26%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
            &.togo {
                .pin {
                    transition: all 0.5s ease;
                    position: absolute;
                    z-index: 2;
                    top: 54%;
                    left: -3%;
                    transform: scale(0.3);
                    cursor: pointer;

                    img {
                        width: 110px;
                    }
                }
                .location {
                    opacity: 0;
                    position: absolute;
                    z-index: 2;
                    top: 53%;
                    left: 5%;
                    visibility: hidden;

                    .description {
                        background: rgba(58, 125, 149, 0.85);
                        padding: 10px 20px;
                        height: auto;
                        margin-left: 95px;
                        padding-left: 70px;
                        min-width: 380px;

                        span {
                            &.title {
                                font-size: 2em;
                            }
                        }
                    }

                    .image {
                        position: absolute;

                        img {
                            // height: 150px;
                            object-fit: cover;
                            margin-top: 20px;
                            width: 110px;
                        }
                    }

                }
                &.active {
                    .pin {
                        transform: scale(0.5);
                    }
                    .location {
                        transition: all 0.5s ease;
                        top: 53%;
                        left: 5%;
                        opacity: 1;
                        visibility: visible;
                        z-index: 9;
                    }
                }
            }
        }

    }

    #banner {
        perspective: 150px;

        &.projects {
            #inner-banner {
                img {
                    position: relative;
                    left: -100px;
                    top: auto;
                    bottom: auto;
                    z-index: -1;

                }
            }
        }
    }
}

#sectors-we-serve {
    position: relative;
    background: url('/images/bg.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    margin-top: 135px;
    box-shadow: -1px 2px 23px 34px black;

    .text-content {
        background: url(../images/border-comb.png) bottom left no-repeat;

        h2 {
            padding: 0 0 20px 0;
            margin: 0;
        }
    }

    .comb {
        position: relative;
        min-height: 560px;
        transform: translateY(-50%);
        top: 50%;
        z-index: 1;

        &.mobile {
            display: none;
        }

        .sub_comb {
            position: absolute;
            width: 213px;
            height: 186px;
            z-index: 5;
            opacity: 0;

            &.sector-0 {
                top: 100px;
                left: 0;
            }

            &.sector-1 {
                top: 0;
                left: 165px;
            }

            &.sector-2 {
                top: 100px;
                left: 330px;
            }

            &.sector-3 {
                top: 293px;
                left: 0px;
            }

            &.sector-4 {
                top: 393px;
                left: 165px;
            }

            &.sector-5 {
                top: 293px;
                left: 330px;
            }
            &.sector-6 {      
                top: 105px;
                left: 80px;
                height: auto;
                width: 385px;
                z-index: -1;
            }

            .card {
                background: none;
                border: none;
                .rear {
                    position: absolute;
                    left: 0;
                    top: 0;
                    /* &:hover,
                    &:focus,
                    &:active,
                    &:active:focus  {
                        z-index: 2;
                    } */
                }
                .front {
                    z-index: 2;
                }
            }

            &:hover,
            &:focus,
            &:active,
            &:active:focus {
                .rear {
                    z-index: 2;
                }
            }

            &.active {
                .card {
                    transform: rotateY(180deg) !important;

                    /*transform: matrix3d(-1,0,0,0,0,1,0,0,0,0,-1,0,0,0,0,1)*/
                    .rear {
                        z-index: 2;
                    }
                }
            }
        }
    }

    .tab-content {
        h2 {
            margin: 40px 0;
        }
    }

    .sectors {
        #inner-banner {
            img {
                position: relative;
                left: -100px;
                top: auto;
                bottom: auto;
                z-index: -1;
            }
        }
    }
}

#companies {
    .hex-block {
        position: relative;
        right: -330px;

        .hex {
            position: absolute;
            background: url(../images/hex_.png) no-repeat center;
            background-size: cover;
            width: 213px;
            height: 185px;
            cursor: pointer;
            text-align: center;
            padding: 50px 0;

            span {
                font-weight: 700;
                font-size: 2.625rem;

                &.title {
                    font-size: 3.8125rem;
                }
            }

            .hex-gray {
                background: url(../images/img-hex-tile-gray.png) no-repeat center;
            }

            /* &:hover,
            &:focus,
            &:active,
            &:active:focus,
            &.active {
                background: url(../images/hex-active.png) no-repeat center;
                background-size: cover;
            } */
            
            &.sub_companies {
                background: url(../images/img-hex-tile-gray-low-opacity.png) no-repeat center;
                &:hover {
                    transition: all 0.5s ease;
                    background: url(../images/img-hex-tile-gray.png) no-repeat center;
                }
            }

            &.default {
                background: url(../images/img-hex-tile-gold-LRG-low-opacity.png) no-repeat center;
                background-size: cover;
                &:hover {
                    transition: all 0.5s ease;
                    background: url(../images/img-hex-tile-gold-LRG.png) no-repeat center;
                }
            }

            &._back {
                background: url(../images/img-hex-tile-gold-back-low-opacity.png) no-repeat center;
                transition: all 0.5s ease;
                width: 107px;
                height: 93px;
                left: -65px;
                top: 300px;
                padding: 28px 0;
                &:hover {
                    background: url(../images/img-hex-tile-gold-back.png) no-repeat center;
                }
                span {
                    font-size: 1.5rem;
                }

            }

            &._1 {
                left: 0;
                top: 350px;
            }

            &._2 {
                left: 170px;
                top: 255px;
            }

            &._3 {
                left: 170px;
                top: 450px;
            }

            &._4 {
                left: 340px;
                top: 155px;
            }

            &._5 {
                left: 340px;
                top: 350px;
            }

            &._6 {
                left: 340px;
                top: 545px;
            }

            &._7 {
                left: 510px;
                top: 255px;
            }

            &._8 {
                left: 510px;
                top: 450px;
            }

            &._9 {
                left: 510px;
                top: 645px;
            }

            &._10 {
                left: 680px;
                top: 155px;
            }

            &._11 {
                left: 680px;
                top: 350px;
            }

            &._12 {
                left: 680px;
                top: 545px;
            }

            &._13 {
                left: 850px;
                top: 255px;
            }

            &._14 {
                left: 850px;
                top: 450px;
            }

            &._15 {
                left: 1020px;
                top: 350px;
            }

            &._16 {
                left: 1020px;
                top: 545px;
            }

            &._17 {
                left: 1190px;
                top: 255px;
            }

            &._18 {
                left: 1190px;
                top: 450px;
            }



        }
        
        .hex-text {
            position: absolute;
            left: 400px;
            top: 252px;
            max-width: 595px;
            background: rgba(58, 125, 149, 0.85);
            padding: 10px 20px;

            .caption {
                h1 {
                    font-weight: 700;
                    font-size: 3.8125rem;

                    span {
                        display: block;
                        font-size: 2rem;
                    }
                }

                .caption-wrapper {
                    overflow: hidden;
                    overflow-y: auto;
                    padding-right: 18px;
                    &::-webkit-scrollbar {
                        width: 8px;
                        padding-left: 3px;
                    }
    
                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }
    
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #888;
                        border-radius: 5px;
                    }
                    p {
                        font-size: 1.25rem;
                        margin-top: 30px;
                        text-align: justify;
                        height: 256px;
                    }
                }
                
            }
        }

        &._inner {
            opacity: 0;
            z-index: -1;
        }

        &._outer {
            .hex {
                &.active {
                    left: 0;
                    top: 350px;
                }
            }
        }
    }

    #close_ {
        position: absolute;
        right: 19px;

        span {
            top:0;
            left: 0;
        }
    }
}



.text-content {
    min-height: 200px;
}

.text-content {
    position: relative;
    margin: 175px 0 50px;
    padding: 50px 0 0 0;
    opacity: 1;
    top: 0;
    z-index: 1;

    span {
        &.text-divider {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 21px;
            width: 100%;

            img {
                margin: 0 !important;
            }
        }
    }
}

// #home-banner {
//     padding: 10vh 0;
// }

#banner {
    position: relative;
    perspective: 40px;
    padding: 10vh 0;
    margin: 0 20px;

    #inner-banner {
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -o-transition: transform 0.5s;

        img {
            position: absolute;
            left: 0;
            // height: 75vh;
            height: 40vh;
            z-index: 0;

            &.glitch-img {
                z-index: -1;
            }

            &.zIndex {
                z-index: 100;
            }
        }
    }


}

.social {
    ul {
        li {
            display: inline-block;
            margin: 0 5px;

            a {
                color: #fff;
                font-size: 1.25rem;

                &:hover,
                &:focus,
                &:active,
                &:active:focus {
                    opacity: 0.5;
                }
            }
        }
    }
}

.pagination {
    a {
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #fff;
        margin-right: 50px;

        &:hover,
        &:focus,
        &:active,
        &:active:focus,
        &.active {
            text-decoration: none;
        }
    }
}

//.tabs {
//    .tab-content {
//        div {
//            display: none;
//        }
//
//        &#consumer {
//            .consumer {
//                display: block;
//            }
//        }
//
//        &#merchant {
//            .merchant {
//                display: block;
//            }
//        }
//
//        &#banks {
//            .banks {
//                display: block;
//            }
//        }
//
//        &#telcos {
//            .telcos {
//                display: block;
//            }
//        }
//
//        &#enterprise {
//            .enterprise {
//                display: block;
//            }
//        }
//
//        &#government {
//            .government {
//                display: block;
//            }
//        }
//
//    }
//}

.left-bottom-bg {
    position: fixed;
    /*left: 2%;*/
    left: 50%;
    /*bottom: 2%;*/
    bottom: 50%;
    margin-bottom: -80px;
    background: url(../images/left-bottom-edge.png) center no-repeat;
    width: 65px;
    height: 160px;
    z-index: 5;
    margin-left: -104px;
}

.right-top-bg {
    position: fixed;
    /*right: 2%;*/
    right: 50%;
    /*top: 2%;*/
    top: 50%;
    margin-top: -80px;
    background: url(../images/right-top-edge.png) center no-repeat;
    width: 65px;
    height: 160px;
    z-index: 5;
    margin-right: -104px;
}

.plus {
    background: url(../images/plus.png) center no-repeat;
    position: fixed;
    width: 15px;
    height: 15px;
    left: 50%;
    margin-left: -7.5px;
    z-index: 5;

    &.top {
        /*top: 2%;*/
        top: 50%;
        margin-top: -7.5px;
    }

    &.bottom {
        /*bottom: 2%;*/
        bottom: 50%;
        margin-bottom: -7.5px;
    }
}

.blackbg {
    position: fixed;
    background: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 3;
}

.loader {
    background: url(../images/black-intro.png) center no-repeat;
    position: fixed;
    left: 0;
    top: -70%;
    width: 100%;
    height: 2400px;
    z-index: 4;
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

}

.fullscreen-bg__video {
    position: absolute;
    top: -30px;
    left: -70px;
    width: 1620px;
    height: 1120px; 
    // position: absolute;
    // top: 0;
    // left: -6%;
    // right: 0;
    // width: 112%;
    // height: 112%;
}

#partners {
    .row {
        .partners {
            background: rgba(0,0,0,0.4);
            padding: 2em;
        }
    }
}

#awards {
    padding-bottom: 50px;
    padding-top: 50px;
    .divider-gif {
        height: 62vh;
    }
    .awards-wrapper {
        position: relative;
        .slideControls {
            width: 100%;
            top: 22px;
            left:0;
            position: absolute;
            z-index: 2;
            .slidePrev {
                position: absolute;
                left: -18px;
            }
            .slideNext {
                position: absolute;
                right: -18px;
            }
        }
    }
}

#our-team {
    -webkit-box-shadow: -1px 6px 27px 29px rgba(0,0,0,1);
    -moz-box-shadow: -1px 6px 27px 29px rgba(0,0,0,1);
    box-shadow: -1px 6px 27px 29px rgba(0,0,0,1);
    .text-content {
        min-height: inherit;
    }
    .team-wrapper {
        z-index: 2;
    }
    .profile-img {
        border-radius: 50%;
        width: 180px;
        height: 178px;
        object-fit: cover;
    }
    .team-desc {
        width: 90%;
        margin: auto;
    }
    .banner-wrapper {
        position: absolute;
        right:0;
    }
}

/*Project Modals*/
#projectModals {
    .modal-dialog {
        .modal-content {
            background: rgba(58, 125, 149, 0.85);
            @include border-radius(0);

            .img-center {
                img {
                    margin: auto;
                }
            }
            .link-button {
                text-align: center;
                display: block;
                background: #ff9944;
                /* position: relative; */
                padding: 9px;
                width: 50%;
                margin: auto;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                margin-bottom: 5px;
            }
        }
    }
}

/*Globals*/
.noBg {
    background: none !important;
}

.text-color1 {
    color: #FF9933;
}

.mobileView {
    display: none !important;
}


.hide-content {
    display: none;
}

.page-item {
    .active {
        color: blue;
    }
}