.text-orange{
    color: $orange;
}

.letter-spacing-1{
    letter-spacing: .5rem;
}

.underlined{
    position: relative;
    display: inline-block;
    &:after{
        content: '';
        position: absolute;
        bottom: 0px;
        width: 94%;
        height: 2px;
        left: 2px;
        background: $orange;
    }
}

.img-fit{
    object-fit: cover;
    object-position: center;
}

.mh-150px{
    max-height: 180px;
}
