@media (max-width:1655px) {
    #home {
        .text-content {
            h1 {
                font-size: 2.9rem;
            }
        }
        
    }
    #companies {
        .hex-block {
            .hex-text {
                max-width: 340px;
                top: 153px;
                height: 541px;

                .caption {
                    p {
                        
                    }
                }
            }
        }
    } 
}
@media (max-width:1575px) {
    #companies {
        .hex-block {
            margin-top: -130px;
            margin-left: -236px;
        }
    }
}
@media (min-width:1480px) {
    .fullscreen-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;

    }

    .fullscreen-bg__video {
        position: absolute;
        top: -30px;
        left: -70px;
        width: 2000px;
        height: 1120px;
        /* position: absolute;
        top: 0;
        left: -6%;
        right: 0;
        width: 112%;
        height: 112%; */
    }
    #home {
        .text-content {
            h1 {
                // font-size: 2.2rem;
            }
        }
        
    }

    #companies {
        .hex-block {
            // margin-top: -130px;
        }
    }


}

@media (max-width:1378px) {

    html {
        font-size: 14px;
    }

    header {
        nav {
            margin-top: 120px;
        }
    }

    .plus {
        width: 10px;
        height: 10px;

        &.top {
            margin-top: -5px;
        }

        &.bottom {
            margin-bottom: -5px;
        }
    }

    .left-bottom-bg {
        width: 35px;
        height: 86px;
        background-size: cover;

    }

    .right-top-bg {
        width: 35px;
        height: 86px;
        background-size: cover;
        margin-top: -80px;
    }

    section,
    footer {
        .container-fluid {
            padding-left: 250px;
        }
    }

    .loader {
        top: -120%;
    }

    #home {
        h1 {
            font-size: 2.8rem;
        }
    }

    #companies {
        .hex-block {
            position: relative;
            
            margin-left: 0px;
            right: 0;

            .hex-text {
                // max-width: 595px;
                max-width: 700px;
                top: 252px;
            }
        }
    }
    
    #sectors-we-serve {
        .text-content {
            margin-top: 100px;
        }
    }    

    #banner {
        #inner-banner {
            img {
                height: 35vh;
            }
        }
    }

}

@media (max-width: 991px) {
    
    html {
        overflow-x: hidden;
    }

    .left-bottom-bg,
    .plus,
    .right-top-bg,
    .blackbg,
    .loader {
        display: none;
    }

    body {
        font-size: 14px;
        background-size: cover;
        padding: 0;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.25em;
    }

    .btn {
        padding: 10px 60px;
    }

    header {
        width: 100%;
        float: none;
        position: absolute;
        // background: rgba(0,0,0,0.25);
        background: none;
        z-index: 10;
        height: 100px;
        top: 0;
        left: 0;

        .logo {
            z-index: 100;
            opacity: 1;
            max-width: 235px;
            top: 25px;
            left: 20px;
            position: relative;

            a {
                img {}
            }

        }

        .menu-dropdown {
            position: absolute;
            display: block;
            width: 10%;
            z-index: 10;
            top: 40px;
            right: 5px;
            cursor: pointer;
            z-index: 100;
        }

        nav {
            display: none;

            &.mobile {
                overflow: hidden;
                display: block;
                transition: all 0.4s ease;
                background: #000;
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                padding: 10vh 0;
                width: 100%;
                height: 100vh;
                max-width: inherit;
                z-index: 50;
                visibility: hidden;
                opacity: 0;

                ul {
                    background: none;
                    padding: 30px 0;

                    li {
                        margin: 10px 0;

                        a {
                            font-size: 1.5em;
                            text-transform: none;
                            max-width: inherit;
                            text-align: center;
                        }
                    }
                }

                &.active {
                    visibility: visible;
                    opacity: 1;
                    left: 0;
                }

                span {
                    &.text-divider {
                        padding-left: 25px;
                        display: block;

                        img {
                            max-width: inherit;
                        }
                    }
                }
            }
        }
    }

    footer {
        background: #000000;
        margin-top: -60px;
        padding: 20px;
    }

    section,
    footer {
        .container-fluid {
            padding-left: 15px;
        }

    }

    .ml-lg-280 {
        margin-left: 0 !important;
    }

    #home {
        background: url('/images/home-bg-mob.png') no-repeat;
        background-size: cover;
        padding: 0 0 40px;
        min-height: auto;

        .text-content {
            text-align: center;
            padding: 50px 0 0 0;
            margin: 100px 0 10px;

            a {
                margin: 30px auto;
            }
            h1 {
                font-size: 2.8rem;
            }
        }
        pre {
            text-align: center;
        }
        #home-banner {
            display: none;
            padding: 0;
            margin: 0;

            #inner-home-banner {
                img {
                    top: auto;
                    position: relative;

                    &.zIndex {
                        position: absolute;
                    }
                }

            }
        }
    }

    #mission {
        background: url('/images/section-mission-mob.png') no-repeat;
        background-color: #000;
        background-size: cover;
        background-position: center;
        padding: 2rem 0;

        h1 {
            text-transform: none;
            font-size: 2.000em;
        }

        #banner {
            display: none;

            &.mission {
                #inner-banner {
                    img {}
                }
            }
        }

        .block {
            margin: 0 auto 60px auto;
        }
        .caption {
            padding: 5rem 0;
        }
    }

    #vision {
        // background: url('/images/section-mission-mob.png') no-repeat;
        // background-color: #000;
        // background-size: cover;
        // background-position: center;
        // padding: 2rem 0;

        h1 {
            text-transform: none;
            font-size: 2.000em;
        }

        #banner {
            display: none;

            &.mission {
                #inner-banner {
                    img {}
                }
            }
        }

        .block {
            margin: 0 auto 60px auto;
        }
        .caption {
            padding: 2rem 0;
        }
    }

    #key-initiative {
        min-height: auto;
        padding: 1rem 0 6rem;
        background: black;
        overflow: hidden;

        #banner {}

        .text-content {
            margin: 0;
        }

        .map {
            .marker {
                &.philippines {
                    .pin {
                        transform: scale(0.3);
                        width: 44px;
                        height: 44px;
                    }

                    .location {
                        left: 0;
                        right: 0;
                        margin: 0 -15px;

                        .description {
                            left: 0;
                            padding: 20px;
                            margin-left: 0;
                            min-width: 100%;
                            // height: auto;
                            margin-top: -38px;
                            height: 180px;
                            overflow: auto;
                        }

                        .image {
                            display: none;
                        }
                    }

                    &.active {
                        .location {
                            right: 0;
                            left: 0;
                            bottom: 0;
                            top: 80%;
                        }
                    }
                }

                &.indonesia {
                    .pin {
                        transform: scale(0.3);
                        width: 44px;
                        height: 44px;
                    }

                    .location {
                        left: 0;
                        right: 0;
                        margin: 0 -15px;

                        .description {
                            left: 0;
                            padding: 20px;
                            margin-left: 0;
                            min-width: 100%;
                            // height: auto;
                            margin-top: -25px;
                            height: 180px;
                            overflow: auto;
                        }

                        .image {
                            display: none;
                        }
                    }

                    &.active {
                        .location {
                            right: 0;
                            left: 0;
                            bottom: 0;
                            top: 80%;
                        }
                    }
                }

                &.africa {
                    .pin {
                        transform: scale(0.3);
                        width: 44px;
                        height: 44px;
                    }

                    .location {
                        left: 0;
                        right: 0;
                        margin: 0 -15px;

                        .description {
                            left: 0;
                            padding: 20px;
                            margin-left: 0;
                            min-width: 100%;
                            // height: auto;
                            height: 180px;
                            overflow: auto;
                        }

                        .image {
                            display: none;
                        }
                    }

                    &.active {
                        .location {
                            right: 0;
                            left: 0;
                            bottom: 0;
                            top: 80%;
                        }
                    }
                }
                &.uae,
                &.afghanistan,
                &.benin,
                &.gabon,
                &.iran,
                &.kuwait,
                &.mauritania,
                &.niger,
                &.nigeria,
                &.saudi,
                &.senegal,
                &.sri-lanka,
                &.tanzania,
                &.togo {
                    .pin {
                        transform: scale(0.3);
                        width: 44px;
                        height: 44px;
                    }

                    .location {
                        left: 0;
                        right: 0;
                        margin: 0 -15px;

                        .description {
                            left: 0;
                            padding: 20px;
                            margin-left: 0;
                            min-width: 100%;
                            // height: auto;
                            height: 180px;
                            overflow: auto;
                        }

                        .image {
                            display: none;
                        }
                    }

                    &.active {
                        .location {
                            right: 0;
                            left: 0;
                            bottom: 0;
                            top: 80%;
                        }
                    }
                }
            }
        }
    }

    #sectors-we-serve {
        background: black;
        padding: 1rem 0;
        min-height: auto;
        padding-bottom: 60px;

        .text-content {
            margin: 0 0 0 0;
            background: none;
        }

        #banner {
            position: absolute;
            left: 50px;
            top: -235px;

            #inner-banner {
                img {
                    width: 500px;
                    left: 0;
                }
            }
        }

        .comb {
            min-height: 410px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            top: 40%;

            .sub_comb {
                position: absolute;
                width: 135px;
                height: auto;
                outline: none;
                border: none;

                &.sector-0 {
                    top: 65px;
                    left: 0;
                }

                &.sector-1 {
                    top: 0;
                    left: 105px;
                }

                &.sector-2 {
                    top: 65px;
                    left: 210px;
                }

                &.sector-3 {
                    top: 190px;
                    left: 0px;
                }

                &.sector-4 {
                    top: 255px;
                    left: 105px;
                }

                &.sector-5 {
                    top: 190px;
                    left: 210px;
                }

                &.sector-6 {
                    top: 85px;
                    left: 76px;
                    width: 200px;
                }

                .card {
                    background: none;

                    .rear {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }

                &:hover,
                &:focus,
                &:active,
                &:active:focus {}

                &.active {
                    .card {
                        transform: rotateY(180deg) !important;
                    }
                }

            }
        }

        .tab-content {
            h2 {
                margin: 10px 0;
                text-align: left;
            }

            p {
                text-align: left
            }
        }

        .consumer {
            margin-top: 4em;
        }
    }


    #companies {
        .hex-block {
            margin-top: 40px;
            right: 90px;
            -webkit-transform: scale(0.4);
            -moz-transform: scale(0.4);
            -ms-transform: scale(0.4);
            -o-transform: scale(0.4);
            transform: scale(0.4);

            .hex-text {
                left: auto;
                top: 750px;
                width: 700px;

                .caption {
                    h1 {
                        font-size: 5rem;

                        span {
                            font-size: 3rem;
                        }
                    }

                    p {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    #our-team {
        .profile-img {
            width: 147px;
            height: 140px;
            margin-left: 7px;
        }
        /* .team-img {
            width: 80%;
        } */
    }


    /*GLobals*/
    .text-content {
        margin: 100px 0 0 0;
        text-align: center;

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        span {
            &.heading {
                display: block;
                text-align: center;
                font-weight: 700;
                margin-bottom: 5px;
                font-size: 1.25em;
            }

            &.text-divider {
                img {
                    max-width: inherit;
                }
            }
        }
    }

    .mobileView {
        display: block !important;
    }

    #awards {
        .awards-wrapper {
            .slideControls {
                top: 27px;   
            }
        }

    }

    #about {
        p {
            text-align: justify;
        }
    }

    .fullscreen-bg {
        position: absolute;
    }
}
