.btn {
    transition: all 0.2s ease;
    @include border-radius(0);
    padding: 10px 60px;
    font-size: 1.25rem;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {}
}

.btn-default {
    color: #000;
    background-color: transparent;
    border: 2px solid #000;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 600;
    padding: 8px 30px;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        color: #fff;
        background: #000;
        border: 2px solid #000;
    }
}

.btn-primary {
    background: #FF9933;
    border: none;
    color: #fff;
    font-weight: 700;
    position: relative;
    @include border-radius(0);
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background: #fff;
        color: #FF9933;
        &:before {
                border-left: 14px solid #fff;

            }        
    }

    &:before {
        transition: all 0.2s ease;        
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        // border-top: 25px solid transparent;
        // border-left: 14px solid #FF9933;
        // border-bottom: 25px solid transparent;

    }
}



.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    border: 1px solid #FF0000;
    background: #fff;
    color: #FF0000;
}

.btn-secondary {
    color: #000;
    background: none;
    border: 1px solid #1a1a1a;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background: #1a1a1a;
        border: 1px solid #1a1a1a;
        color: #fff;
    }
}

.btn-tertiary {
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    color: #96999b;

    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        background: #fdc010;
        border: 1px solid #fdc010;
        color: #fff;
    }
}

.btn-backup {

    &:hover,
    &:focus,
    &:active,
    &:active:focus {}
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    &:hover {}
}

.form-control:focus {
    border-color: #015142;
    box-shadow: 0 1px 1px rgba(1, 81, 66, 0.075) inset, 0 0 8px rgba(1, 81, 66, 0.075);
}

.alm-reveal {

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.alm-load-more-btn {
    display: block;
}

::-webkit-input-placeholder {
    color: #ac96a1;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #ac96a1;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #ac96a1;
}

:-ms-input-placeholder {
    color: #ac96a1;
}


/*CF7*/

.wpcf7-form {
    margin: 30px 0;
}

label {
    // text-transform: uppercase;
    // color: #000;
    // font-size: 12px;
    // letter-spacing: 1px;
}

input[type=text],
input[type=number],
textarea,
input[type=email],
input[type=tel] {
    min-height: 48px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

input[type=text],
input[type=number],
textarea,
input[type=email],
input[type=tel]{
    @include border-radius(5px);
    border: 1px solid #999999;
    background: #f2f2f2;
    width: 100%;
    padding: 5px 10px;
}

textarea {
    @include border-radius(5px);
    border: 1px solid #999 !important;
    background: #f2f2f2 !important;
    width: 100%;
    min-height: 150px;
}

input[type=submit] {
    background: #FF9933;
    border: none;
    color: #fff;
    font-weight: 700;
    position: relative;
    @include border-radius(0);
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background: #fff;
        color: #FF9933;
        &:before {
                border-left: 14px solid #fff;

            }        
    }

    &:before {
        transition: all 0.2s ease;        
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-left: 14px solid #FF9933;
        border-bottom: 25px solid transparent;

    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}