<template>

    <section id="sectors">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-10">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <div class="text-content pb-5 wow fadeInDown" data-wow-delay="3s">
                            <span class="text-divider">
                                <img class="img-fluid d-block"
                                     :src="config.base_url +'/images/home-page-content-divider-top.png'"/>
                            </span>
                                <h2>Our <strong>Sectors</strong></h2>
                                <div class="comb mobile">
                                    <a class="sub_comb cardWrapper active sector-0 wow fadeIn" data-wow-delay="3.1s"
                                       v-on:click="selectSector(data[0] ? data[0] : false)">
                                        <div class="card">
                                            <img class="img-fluid front"
                                                 :src="data[0] && data[0].primary_image ? config.base_url + data[0].primary_image : config.base_url +'/images/sector-blue.png'"
                                                 :title="data[0] ? data[0].name : ''"/>
                                            <img class="img-fluid rear"
                                                 :src="data[0] && data[0].secondary_image ? config.base_url + data[0].secondary_image : config.base_url +'/images/sector-blank.png'"
                                                 :title="data[0] ? data[0].name : ''"/>
                                        </div>
                                    </a>

                                    <a class="sub_comb cardWrapper sector-1 wow fadeIn" data-wow-delay="3.2s" v-on:click="selectSector(data[1] ? data[1] : false)">
                                        <div class="card">
                                            <img class="img-fluid front"
                                                 :src="data[1] && data[1].primary_image ? config.base_url + data[1].primary_image : config.base_url +'/images/sector-blue.png'"
                                                 :title="data[1] ? data[1].name : ''"/>
                                            <img class="img-fluid rear"
                                                 :src="data[1] && data[1].secondary_image ? config.base_url + data[1].secondary_image : config.base_url +'/images/sector-blank.png'"
                                                 :title="data[1] ? data[1].name : ''"/>
                                        </div>
                                    </a>
                                    <a class="sub_comb cardWrapper sector-2 wow fadeIn" data-wow-delay="3.3s" v-on:click="selectSector(data[2] ? data[2] : false)">
                                        <div class="card">
                                            <img class="img-fluid front"
                                                 :src="data[2] && data[2].primary_image ? config.base_url + data[2].primary_image : config.base_url +'/images/sector-blue.png'"
                                                 :title="data[2] ? data[2].name : ''"/>
                                            <img class="img-fluid rear"
                                                 :src="data[2] && data[2].secondary_image ? config.base_url + data[2].secondary_image : config.base_url +'/images/sector-blank.png'"
                                                 :title="data[2] ? data[2].name : ''"/>
                                        </div>
                                    </a>
                                    <a class="sub_comb cardWrapper sector-3 wow fadeIn" data-wow-delay="3.6s" v-on:click="selectSector(data[3] ? data[3] : false)">
                                        <div class="card">
                                            <img class="img-fluid front"
                                                 :src="data[3] && data[3].primary_image ? config.base_url + data[3].primary_image : config.base_url +'/images/sector-blue.png'"
                                                 :title="data[3] ? data[3].name : ''"/>
                                            <img class="img-fluid rear"
                                                 :src="data[3] && data[3].secondary_image ? config.base_url + data[3].secondary_image : config.base_url +'/images/sector-blank.png'"
                                                 :title="data[3] ? data[3].name : ''"/>
                                        </div>
                                    </a>
                                    <a class="sub_comb cardWrapper sector-4 wow fadeIn" data-wow-delay="3.5s" v-on:click="selectSector(data[4] ? data[4] : false)">
                                        <div class="card">
                                            <img class="img-fluid front"
                                                 :src="data[4] && data[4].primary_image ? config.base_url + data[4].primary_image : config.base_url +'/images/sector-blue.png'"
                                                 :title="data[4] ? data[4].name : ''"/>
                                            <img class="img-fluid rear"
                                                 :src="data[4] && data[4].secondary_image ? config.base_url + data[4].secondary_image : config.base_url +'/images/sector-blank.png'"
                                                 :title="data[4] ? data[4].name : ''"/>
                                        </div>
                                    </a>
                                    <a class="sub_comb cardWrapper sector-5 wow fadeIn" data-wow-delay="3.4s" v-on:click="selectSector(data[5] ? data[5] : false)">
                                        <div class="card">
                                            <img class="img-fluid front"
                                                 :src="data[5] && data[5].primary_image ? config.base_url + data[5].primary_image : config.base_url +'/images/sector-blue.png'"
                                                 :title="data[5] ? data[5].name : ''"/>
                                            <img class="img-fluid rear"
                                                 :src="data[5] && data[5].secondary_image ? config.base_url + data[5].secondary_image : config.base_url +'/images/sector-blank.png'"
                                                 :title="data[5] ? data[5].name : ''"/>
                                        </div>
                                    </a>

                                </div>
                                <div class="clear"></div>
                                <!--<div class="tabs">-->
                                <!--<div class="tab-content" id="consumer">-->
                                <div class="consumer" v-if="sector">
                                    <h2 class="text-color1">{{sector.name}}</h2>
                                    <p>{{sector.description}}</p>
                                </div>
                                <!--</div>-->
                                <!--</div>-->

                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <div class="comb">


                                <a class="sub_comb cardWrapper active sector-0 wow fadeIn" data-wow-delay="3.1s"
                                   v-on:click="selectSector(data[0] ? data[0] : false)">
                                    <div class="card">
                                        <img class="img-fluid front"
                                             :src="data[0] && data[0].primary_image ? config.base_url + data[0].primary_image : config.base_url +'/images/sector-blue.png'"
                                             :title="data[0] ? data[0].name : ''"/>
                                        <img class="img-fluid rear"
                                             :src="data[0] && data[0].secondary_image ? config.base_url + data[0].secondary_image : config.base_url +'/images/sector-blank.png'"
                                             :title="data[0] ? data[0].name : ''"/>
                                    </div>
                                </a>

                                <a class="sub_comb cardWrapper sector-1 wow fadeIn" data-wow-delay="3.2s" v-on:click="selectSector(data[1] ? data[1] : false)">
                                    <div class="card">
                                        <img class="img-fluid front"
                                             :src="data[1] && data[1].primary_image ? config.base_url + data[1].primary_image : config.base_url +'/images/sector-blue.png'"
                                             :title="data[1] ? data[1].name : ''"/>
                                        <img class="img-fluid rear"
                                             :src="data[1] && data[1].secondary_image ? config.base_url + data[1].secondary_image : config.base_url +'/images/sector-blank.png'"
                                             :title="data[1] ? data[1].name : ''"/>
                                    </div>
                                </a>
                                <a class="sub_comb cardWrapper sector-2 wow fadeIn" data-wow-delay="3.3s" v-on:click="selectSector(data[2] ? data[2] : false)">
                                    <div class="card">
                                        <img class="img-fluid front"
                                             :src="data[2] && data[2].primary_image ? config.base_url + data[2].primary_image : config.base_url +'/images/sector-blue.png'"
                                             :title="data[2] ? data[2].name : ''"/>
                                        <img class="img-fluid rear"
                                             :src="data[2] && data[2].secondary_image ? config.base_url + data[2].secondary_image : config.base_url +'/images/sector-blank.png'"
                                             :title="data[2] ? data[2].name : ''"/>
                                    </div>
                                </a>
                                <a class="sub_comb cardWrapper sector-3 wow fadeIn" data-wow-delay="3.6s" v-on:click="selectSector(data[3] ? data[3] : false)">
                                    <div class="card">
                                        <img class="img-fluid front"
                                             :src="data[3] && data[3].primary_image ? config.base_url + data[3].primary_image : config.base_url +'/images/sector-blue.png'"
                                             :title="data[3] ? data[3].name : ''"/>
                                        <img class="img-fluid rear"
                                             :src="data[3] && data[3].secondary_image ? config.base_url + data[3].secondary_image : config.base_url +'/images/sector-blank.png'"
                                             :title="data[3] ? data[3].name : ''"/>
                                    </div>
                                </a>
                                <a class="sub_comb cardWrapper sector-4 wow fadeIn" data-wow-delay="3.5s" v-on:click="selectSector(data[4] ? data[4] : false)">
                                    <div class="card">
                                        <img class="img-fluid front"
                                             :src="data[4] && data[4].primary_image ? config.base_url + data[4].primary_image : config.base_url +'/images/sector-blue.png'"
                                             :title="data[4] ? data[4].name : ''"/>
                                        <img class="img-fluid rear"
                                             :src="data[4] && data[4].secondary_image ? config.base_url + data[4].secondary_image : config.base_url +'/images/sector-blank.png'"
                                             :title="data[4] ? data[4].name : ''"/>
                                    </div>
                                </a>
                                <a class="sub_comb cardWrapper sector-5 wow fadeIn" data-wow-delay="3.4s" v-on:click="selectSector(data[5] ? data[5] : false)">
                                    <div class="card">
                                        <img class="img-fluid front"
                                             :src="data[5] && data[5].primary_image ? config.base_url + data[5].primary_image : config.base_url +'/images/sector-blue.png'"
                                             :title="data[5] ? data[5].name : ''"/>
                                        <img class="img-fluid rear"
                                             :src="data[5] && data[5].secondary_image ? config.base_url + data[5].secondary_image : config.base_url +'/images/sector-blank.png'"
                                             :title="data[5] ? data[5].name : ''"/>
                                    </div>
                                </a>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-2">
                    <div id="banner" class="sectors">
                        <div id="inner-banner">
                            <img class="d-block" :src="config.base_url +'/images/projects-eye.png'"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import Config from "../../../configs/app.config";

    import SectorService from "../../../cores/services/sector/sector.service";

    const config = Config;

    const sectorService = new SectorService();
    export default {
        data: function () {
            return {
                data: {},
                sector: {},
                config: {
                    base_url: config.base_url
                },
                class: {}
            }
        },
        mounted: function () {
            this.list();
            // this.config.test =
        },
        methods: {
            selectSector: function (data) {
               this.sector = data;
            },
            list: function () {
                return sectorService.list().then(success => {
                    this.data = success.data;
                    if(this.data[0]){
                        this.sector = this.data[0];
                    }
                });
            }
        }
    }
</script>
<style scoped>

</style>