<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{config.title}}</h4>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                               aria-controls="main" aria-selected="true">Main</a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab"-->
<!--                               aria-controls="images" aria-selected="false">Images</a>-->
<!--                        </li>-->

                    </ul>

                    <form>
                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Header Tag</label>
                                            <textarea rows="4" v-model="data.header_tag.meta_value" cols="80" class="form-control"
                                                      placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Header Break Tag</label>
                                            <input type="text" v-model="data.header_break_tag.meta_value" class="form-control"
                                                   placeholder="Header Break">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Mission Tag</label>
                                            <input type="text" v-model="data.mission_tag.meta_value" class="form-control"
                                                   placeholder="Mission">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Vision Tag</label>
                                            <input type="text" v-model="data.vision_tag.meta_value" class="form-control"
                                                   placeholder="Vision">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-12 text-center">
                                <button type="button" v-on:click="store()"
                                        class="btn btn-info btn-fill">Submit {{config.title}}
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import UploadService from '../../../../cores/services/upload/upload.service';
    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import PageContentService from "../../../../cores/services/admin/page-content/page-content.service";
    import HomepageTagService from "../../../../cores/services/admin/homepage-tag/homepage-tag.service";


    const config = Config;
    const uploadService = new UploadService();
    const pageContentService = new PageContentService();
    const alertService = new AlertService();
    const homepageTagService = new HomepageTagService();

    export default {
        data: function () {
            return {
                data: {
                    header_tag: {
                        meta_key: "header_tag",
                        meta_value: ""
                    },
                    header_break_tag: {
                        meta_key: "header_break_tag",
                        meta_value: ""
                    },
                    mission_tag: {
                        meta_key: "mission_tag",
                        meta_value: ""
                    },
                    vision_tag: {
                        meta_key: "vision_tag",
                        meta_value: ""
                    }
                },
                config: {
                    base_url: Config.base_url,
                    title: 'Homepage Tags',
                }
            }
        },
        mounted: function () {
            this.show();
        },
        methods: {
            show: function () {
                return homepageTagService.list().then(success => {
                    var response = success.data;
                    this.data = Object.assign({}, this.data, response);
                    if(this.data.length == 0){
                        this.data = [{
                            path: "",
                            file_name: ""
                        }];
                    }
                });
            },
            store: function () {
                return homepageTagService.store(this.data).then(success => {
                    alertService.saved();
                    // this.show(this.$route.query);
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });
            }
        }
    }
</script>

<style scoped>

</style>
