<template>
    <section>
       
       <div class="fullscreen-bg">
           <video loop muted autoplay poster="/videos/ipgh-bg.jpg" class="fullscreen-bg__video">
                <source src="/videos/IPGH-Backgorund.webm" type="video/webm">
                <source src="/videos/IPGH-Backgorund.mp4" type="video/mp4">
                <source src="/videos/IPGH-Backgorund.ogv" type="video/ogg">
            </video>
       </div>
              
        <div id="home">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <div class="text-content wow fadeInDown" data-wow-delay="3.2s">
                            <span class="text-divider">
                                <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png" />
                            </span>
                            <pre>
                                <h1 class="font-weight-bold mb-5" v-if="tags.header_tag">{{tags.header_tag.meta_value}}</h1>
                            </pre>
                            <div class="mobileView">
                                <!-- <img class="zIndex img-fluid d-block" src="/images/home-eye-mobile.png" /> -->
                                <img class=" img-fluid d-block" src="/images/eye.gif" />
                            </div>

                            <!-- <a href="/mission-and-vision" class="btn btn-primary">Learn More</a> -->
                        </div>

                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div id="home-banner">
                            <div id="inner-home-banner">
                                <!-- <img class="zIndex img-fluid d-block" src="/images/home-eye.png" /> -->
                                <img class="d-block" src="/images/eye.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="mission" class="ml-lg-280">
            <div class="image w-100 d-none d-lg-block">
                <!-- <img class="w-100" src="/images/divider.gif" /> -->
                <img class="w-100" src="/images/divider-v2.gif" />
            </div>
            <div class="caption">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 mx-auto text-center wow fadeIn" data-wow-delay=".5s">
                            <!--<h2 class="text-orange underlined letter-spacing-1 mb-4 ">MISSION</h2>-->
                            <!--<p class="h3">Transforming the way people pay.</p>-->
                            <p class="h3 mt-3" v-if="tags.header_break_tag">{{tags.header_break_tag.meta_value}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="key-initiative">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-lg-8">
                        <div class="text-content wow fadeInDown" data-wow-delay="0.5s">
                            <span class="text-divider">
                                <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png" />
                            </span>
                            <h2 class="mb-5">Key <strong>Initiatives</strong></h2>
                            <div class="map mx-auto">
                                <div class="marker philippines" :class="{'active' : config.project[0].status}" v-if="data.philippines">
                                    <a id="ph_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.philippines.path  + data.philippines.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.philippines.name}}</span>
                                            <!-- <p>{{data.philippines.description}}</p> -->
                                            <ul v-for="(value, key) in data.philippines.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="marker indonesia" :class="{'active' : config.project[1].status}" v-if="data.indonesia">
                                    <a id="indo_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.indonesia.path  + data.indonesia.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.indonesia.name}}</span>
                                            <!--<p>{{data.indonesia.description}}</p>-->
                                            <ul v-for="(value, key) in data.indonesia.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="marker africa" :class="{'active' : config.project[9].status}" v-if="data.africa">
                                    <a id="afr_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.africa.path  + data.africa.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.africa.name}}</span>
                                            <!--<p>{{data.africa.description}}</p>-->
                                            <ul v-for="(value, key) in data.africa.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- UAE -->
                                <div class="marker uae" :class="{'active' : config.project[2].status}" v-if="data.uae">
                                    <a id="uae_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.uae.path  + data.uae.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.uae.name}}</span>
                                            <!--<p>{{data.africa.description}}</p>-->
                                            <ul v-for="(value, key) in data.uae.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Afghan -->
                                <div class="marker afghanistan" :class="{'active' : config.project[6].status}" v-if="data.afghanistan">
                                    <a id="afghanistan_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.afghanistan.path  + data.afghanistan.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.afghanistan.name}}</span>
                                            <!-- <p>{{data.afghanistan.description}}</p> -->
                                            <ul v-for="(value, key) in data.afghanistan.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Benin -->
                                <div class="marker benin" :class="{'active' : config.project[9].status}" v-if="data.benin">
                                    <a id="benin_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.benin.path  + data.benin.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.benin.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.benin.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> 
                                <!-- Gabon -->
                                <div class="marker gabon" :class="{'active' : config.project[5].status}" v-if="data.gabon">
                                    <a id="gabon_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.gabon.path  + data.gabon.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.gabon.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.gabon.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Iran -->
                                <div class="marker iran" :class="{'active' : config.project[9].status}" v-if="data.iran">
                                    <a id="iran_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.iran.path  + data.iran.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.iran.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.iran.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Kuwait -->
                                <div class="marker kuwait" :class="{'active' : config.project[9].status}" v-if="data.kuwait">
                                    <a id="kuwait_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.kuwait.path  + data.kuwait.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.kuwait.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.kuwait.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mauritania -->
                                <div class="marker mauritania" :class="{'active' : config.project[9].status}" v-if="data.mauritania">
                                    <a id="mauritania_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.mauritania.path  + data.mauritania.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.mauritania.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.mauritania.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Niger -->
                                <div class="marker niger" :class="{'active' : config.project[4].status}" v-if="data.niger">
                                    <a id="niger_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.niger.path  + data.niger.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.niger.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.niger.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Nigeria -->
                                <div class="marker nigeria" :class="{'active' : config.project[9].status}" v-if="data.nigeria">
                                    <a id="nigeria_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.nigeria.path  + data.nigeria.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.nigeria.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.nigeria.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Saudi -->
                                <div class="marker saudi" :class="{'active' : config.project[9].status}" v-if="data.saudi">
                                    <a id="saudi_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.saudi.path  + data.saudi.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.saudi.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.saudi.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Senegal -->
                                <div class="marker senegal" :class="{'active' : config.project[9].status}" v-if="data.senegal">
                                    <a id="senegal_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.senegal.path  + data.senegal.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.senegal.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.senegal.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Sri Lanka -->
                                <div class="marker sri-lanka" :class="{'active' : config.project[9].status}" v-if="data.srilanka">
                                    <a id="srilanka_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.srilanka.path  + data.srilanka.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.srilanka.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.srilanka.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tanzania -->
                                <div class="marker tanzania" :class="{'active' : config.project[9].status}" v-if="data.tanzania">
                                    <a id="tanzania_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.tanzania.path  + data.tanzania.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.tanzania.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.tanzania.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Togo -->
                                <div class="marker togo" :class="{'active' : config.project[3].status}" v-if="data.togo">
                                    <a id="togo_" class="pin" v-on:click="selectProject()"><img class="img-fluid d-block" src="images/img-hover-hex.png" /></a>
                                    <div class="location ">
                                        <div class="image">
                                            <img class="img-fluid d-block" :src="config.base_url + '/' + data.togo.path  + data.togo.file_name " />
                                        </div>
                                        <div class="description">
                                            <span class="title">{{data.togo.name}}</span>
                                            <!--<p>{{data.afghanistan.description}}</p>-->
                                            <ul v-for="(value, key) in data.togo.subproject">
                                                <li data-toggle="modal" data-target="#projectModals" @click="changeModalValues(value)">{{value.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <img class="img-fluid d-block map mx-auto w-100" src="/images/map2.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-lg-4 d-none d-lg-block">
                        <div id="banner" class="projects">
                            <div id="inner-banner">
                                <img class="d-block" src="/images/projects-eye.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="projectModals" tabindex="-1" role="dialog" aria-labelledby="projectModals" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="mt-3">{{subproject.name}}</h2>
                        <div class="img-center">
                            <img v-if="subproject.file_name != ''" class="img-fluid d-block" :src="config.base_url + '/' + subproject.path + subproject.file_name" />
                        </div>
                        <p class="my-3">{{subproject.description}} </p>
                        <a class="link-button" v-if="subproject.url" :href="subproject.url" target="_blank">View More</a>
                    </div>
                </div>
            </div>
        </div>



        <div id="mission" class="mission-mg ml-lg-280">
            <div class="image w-100 d-none d-lg-block">
                <img class="w-100" src="/images/divider-v2.gif" />
            </div>
            <div class="caption">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 mx-auto text-center wow fadeIn" data-wow-delay=".5s">
                            <h2 class="text-orange underlined letter-spacing-1 mb-4 mt-5">OUR MISSION</h2>
                            <p class="h3" v-if="tags.mission_tag">{{tags.mission_tag.meta_value}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="sectors-we-serve">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-lg-10">
                        <div class="row h-100 mt-5">

                            <div class="col-lg-12 ">
                            </div>

                            <div class="col-xs-12 col-lg-6">
                                <div class="text-content pb-5">
                                    <span class="text-divider">
                                        <img class="img-fluid d-block" :src="config.base_url +'/images/home-page-content-divider-top.png'" />
                                    </span>
                                    <!-- <div class="vision-text-content wow fadeIn " data-wow-delay="0.2s">
                                        <h2>The <strong>Vision</strong></h2>
                                        <div class="clear"></div>
                                        <div class="consumer d-none d-lg-block">
                                            <h2 class="text-color1">Transforming the way people pay.</h2>
                                        </div>
                                    </div> -->

                                    <div class="our-sector-content mt-5">
                                        <h2>Sectors We <strong>Serve</strong></h2>
                                        <div class="clear"></div>
                                        <div class="consumer d-none d-lg-block" v-if="sector">
                                            <h2 class="text-color1">{{sector.name}}</h2>
                                            <p>{{sector.description}}</p>
                                        </div>
                                    </div>

                                    <!-- <div class="vision-text-content">
                                        <h2>The <strong>Vision</strong></h2>
                                        <div class="clear"></div>
                                        <div class="consumer">
                                            <h2 class="text-color1" v-if="tags.vision_tag">{{tags.vision_tag.meta_value}}</h2>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6 comb-content">
                                <div class="comb">
                                    <a class="sub_comb cardWrapper sector-0" :class="{'active' : config.sector[0].status}" v-on:click="selectSector(dataSector[0] ? dataSector[0] : false)">
                                        <div class="card">
                                            <img class="img-fluid front" :src="dataSector[0] && dataSector[0].primary_image ? config.base_url + dataSector[0].primary_image : config.base_url +'/images/sector-blue.png'" :title="dataSector[0] ? dataSector[0].name : ''" />
                                            <img class="img-fluid rear" :src="dataSector[0] && dataSector[0].secondary_image ? config.base_url + dataSector[0].secondary_image : config.base_url +'/images/sector-blank.png'" :title="dataSector[0] ? dataSector[0].name : ''" />
                                        </div>
                                    </a>

                                    <a class="sub_comb cardWrapper sector-1" :class="{'active' : config.sector[1].status}" v-on:click="selectSector(dataSector[1] ? dataSector[1] : false)">
                                        <div class="card">
                                            <img class="img-fluid front" :src="dataSector[1] && dataSector[1].primary_image ? config.base_url + dataSector[1].primary_image : config.base_url +'/images/sector-blue.png'" :title="dataSector[1] ? dataSector[1].name : ''" />
                                            <img class="img-fluid rear" :src="dataSector[1] && dataSector[1].secondary_image ? config.base_url + dataSector[1].secondary_image : config.base_url +'/images/sector-blank.png'" :title="dataSector[1] ? dataSector[1].name : ''" />
                                        </div>
                                    </a>
                                    <a class="sub_comb cardWrapper sector-2" :class="{'active' : config.sector[2].status}" v-on:click="selectSector(dataSector[2] ? dataSector[2] : false)">
                                        <div class="card">
                                            <img class="img-fluid front" :src="dataSector[2] && dataSector[2].primary_image ? config.base_url + dataSector[2].primary_image : config.base_url +'/images/sector-blue.png'" :title="dataSector[2] ? dataSector[2].name : ''" />
                                            <img class="img-fluid rear" :src="dataSector[2] && dataSector[2].secondary_image ? config.base_url + dataSector[2].secondary_image : config.base_url +'/images/sector-blank.png'" :title="dataSector[2] ? dataSector[2].name : ''" />
                                        </div>
                                    </a>
                                    <a class="sub_comb cardWrapper sector-5" :class="{'active' : config.sector[3].status}" v-on:click="selectSector(dataSector[3] ? dataSector[3] : false)">
                                        <div class="card">
                                            <img class="img-fluid front" :src="dataSector[3] && dataSector[3].primary_image ? config.base_url + dataSector[3].primary_image : config.base_url +'/images/sector-blue.png'" :title="dataSector[5] ? dataSector[5].name : ''" />
                                            <img class="img-fluid rear" :src="dataSector[3] && dataSector[3].secondary_image ? config.base_url + dataSector[3].secondary_image : config.base_url +'/images/sector-blank.png'" :title="dataSector[5] ? dataSector[5].name : ''" />
                                        </div>
                                    </a>
                                    <a class="sub_comb cardWrapper sector-4" :class="{'active' : config.sector[4].status}" v-on:click="selectSector(dataSector[4] ? dataSector[4] : false)">
                                        <div class="card">
                                            <img class="img-fluid front" :src="dataSector[4] && dataSector[4].primary_image ? config.base_url + dataSector[4].primary_image : config.base_url +'/images/sector-blue.png'" :title="dataSector[4] ? dataSector[4].name : ''" />
                                            <img class="img-fluid rear" :src="dataSector[4] && dataSector[4].secondary_image ? config.base_url + dataSector[4].secondary_image : config.base_url +'/images/sector-blank.png'" :title="dataSector[4] ? dataSector[4].name : ''" />
                                        </div>
                                    </a>
                                    <a class="sub_comb cardWrapper sector-3" :class="{'active' : config.sector[5].status}" v-on:click="selectSector(dataSector[5] ? dataSector[5] : false)">
                                        <div class="card">
                                            <img class="img-fluid front" :src="dataSector[5] && dataSector[5].primary_image ? config.base_url + dataSector[5].primary_image : config.base_url +'/images/sector-blue.png'" :title="dataSector[3] ? dataSector[3].name : ''" />
                                            <img class="img-fluid rear" :src="dataSector[5] && dataSector[5].secondary_image ? config.base_url + dataSector[5].secondary_image : config.base_url +'/images/sector-blank.png'" :title="dataSector[3] ? dataSector[3].name : ''" />
                                        </div>
                                    </a>
                                    <!-- gif -->
                                    <a class="sub_comb cardWrapper sector-6">
                                        <div class="card">
                                            <img class="img-fluid" :src="config.base_url +'/images/sectors.gif'" />
                                        </div>
                                    </a>



                                </div>
                                <div class="consumer d-block d-lg-none mb-5" v-if="sector">
                                    <h2 class="text-color1">{{sector.name}}</h2>
                                    <p>{{sector.description}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-2">
                        <div id="banner" class="sectors">
                            <div id="inner-banner">
                                <img class="d-block" :src="config.base_url +'/images/projects-eye.png'" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- VISION -->
            <!-- <div id="vision" class="vision-text-content">
                <h2>The <strong>Vision</strong></h2>
                <div class="clear"></div>
                <div class="consumer">
                    <h2 class="text-color1" v-if="tags.vision_tag">{{tags.vision_tag.meta_value}}</h2>
                </div>
            </div> -->
            <div id="vision" class="ml-lg-280">
                <!-- <div class="image w-100 d-none d-lg-block">
                    <img class="w-100" src="/images/divider.gif" />
                </div> -->
                <div class="caption">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mx-auto text-center wow fadeIn" data-wow-delay=".5s">
                                <h2 class="text-orange underlined letter-spacing-1 mb-4">THE VISION</h2>
                                <p class="h3" v-if="tags.vision_tag">{{tags.vision_tag.meta_value}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

</template>

<script>
    import Config from "../configs/app.config";

    import ProjectService from "../cores/services/project/project.service";

    import SectorService from "../cores/services/sector/sector.service";
    import HomepageTagService from "../cores/services/homepage-tag/homepage-tag.service";

    const config = Config;

    const projectService = new ProjectService();
    const sectorService = new SectorService();
    const homepageTagService = new HomepageTagService();

    export default {
        name: "app.component",
        data: function() {
            return {
                data: {
                    // philippines: {},
                    // indonesia: {},
                    // africa: {}
                },
                subproject: {},
                tags: {},

                config: {
                    base_url: config.base_url,
                    sector: [{
                            status: true
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },


                    ],
                    project: [
                        {
                            status: true
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },
                        {
                            status: false
                        },
                    ]
                },
                dataSector: {},
                sector: {},
                class: {},

            }
        },
        mounted: function() {
            this.list();
            this.listSector();
            this.listTags();

            this.config.intervalProject = setInterval(incrementProj.bind(this), 5000);

            var i = 0;

            function incrementProj() {
                if (i == 8) {
                    i = 0;
                }

                this.config.project.forEach((value, key) => {

                    if (i == key) {
                        this.config.project[key].status = true;

                    } else {
                        this.config.project[key].status = false;
                    }

                });
                i = i % 360 + 1;
                // console.log(value);



            }
            
            window.onload = function () {
                $('#key-initiative .map .marker a').click(function () {
                    $('#key-initiative .map .marker').removeClass('active');
                    $(this).parent().addClass('active');
                });  
            }

        },
        methods: {

            list: function() {
                return projectService.list().then(success => {
                    this.data = success.data;
                });
            },

            selectSector: function(dataSector) {
                this.sector = dataSector;

                // console.log(      this.config.interval);

                clearInterval(this.config.interval);

            },
            selectProject: function() {
                clearInterval(this.config.intervalProject);



            },
            listSector: function() {
                return sectorService.list().then(success => {
                    this.dataSector = success.data;
                    if (this.dataSector[0]) {
                        this.sector = this.dataSector[0];
                    }

                    this.config.interval = setInterval(increment.bind(this), 5000);

                    var i = 0;

                    function increment() {
                        if (i == 6) {
                            i = 0;
                        }

                        this.config.sector.forEach((value, key) => {

                            if (i == key) {
                                this.config.sector[key].status = true;
                                this.sector = this.dataSector[key] ? this.dataSector[key] : false;
                            } else {
                                this.config.sector[key].status = false;
                            }
                        });
                        i = i % 360 + 1;
                        // console.log(value);
                    }

                });
            },
            changeModalValues(value){
                this.subproject = value;
            },
            listTags(){
                return homepageTagService.list().then(success => {
                    this.tags = success.data;
                });
            }


        }
    }

</script>

<style scoped>

</style>
