<template>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{config.title}}</h4>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="main-tab"
                data-toggle="tab"
                href="#main"
                role="tab"
                aria-controls="main"
                aria-selected="true"
              >Main</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="award-tab"
                data-toggle="tab"
                href="#award"
                role="tab"
                aria-controls="award"
                aria-selected="true"
              >Awards</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="management-tab"
                data-toggle="tab"
                href="#management"
                role="tab"
                aria-controls="award"
                aria-selected="true"
              >Management</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="team-tab"
                data-toggle="tab"
                href="#team"
                role="tab"
                aria-controls="team"
                aria-selected="true"
              >Team</a>
            </li>

            <!--                        <li class="nav-item">-->
            <!--                            <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab"-->
            <!--                               aria-controls="images" aria-selected="false">Images</a>-->
            <!--                        </li>-->
          </ul>

          <form>
            <div class="tab-content pt-4" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="main"
                role="tabpanel"
                aria-labelledby="main-tab"
              >
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>About</label>
                      <textarea
                        rows="4"
                        v-model="data.about.name"
                        cols="80"
                        class="form-control"
                        placeholder="Here can be your description"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <hr />
              </div>
              <!--                                slider-->
              <div class="tab-pane fade" id="award" role="tabpanel" aria-labelledby="award-tab">
                <div class="row">
                  <div class="col-md-12 pr-3">
                    <strong>Award Slider Images</strong>
                  </div>
                </div>
                <div v-for="(value, key) in data.about_images">
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <label>Name</label>
                      <input
                        type="text"
                        v-model="value.name"
                        class="form-control"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <label>Description</label>
                      <textarea
                        rows="4"
                        v-model="value.description"
                        cols="80"
                        class="form-control"
                        placeholder="Here can be your description"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <label>
                        Image
                        <br />
                        <span>Recommended Size: 214x113</span>
                        <input
                          style="display:none; height: 48px;"
                          type="file"
                          class="form-control"
                          accept="image/*"
                          @change="uploadImage($event, value)"
                          id="file-input"
                        />
                        <a class="btn btn-upload d-block">Upload Image/s</a>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4" v-if="value.path && value.file_name">
                    <a
                      @click="removeImage(value)"
                      class="text text-dark"
                      style="position: absolute; right:20px; cursor: pointer;"
                    >
                      <i class="fa fa-times-circle" style="font-size:25px"></i>
                    </a>
                    <img
                      v-bind:src="config.base_url + '/' +value.path + value.file_name"
                      class="img-thumbnail"
                      style="background-color:rgba(0,0,0,0.2);"
                    />
                  </div>
                  <div class="col-md-12 pr-3">
                    <a class="btn btn-outline-warning" @click="removeAward(key)">x Remove Award</a>
                  </div>
                </div>
                <div class="col-md-12">
                  <a class="btn btn-outline-primary" @click="addAward()">+ Add Award</a>
                </div>
                <hr />
              </div>
              <!--                                profiles-->
              <div
                class="tab-pane fade"
                id="management"
                role="tabpanel"
                aria-labelledby="management-tab"
              >
                <div class="row">
                  <div class="col-md-12 pr-3">
                    <strong>Management Profiles</strong>
                  </div>
                </div>
                <div v-for="(value, key) in data.about_management">
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <label>Name</label>
                      <input
                        type="text"
                        v-model="value.name"
                        class="form-control"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <label>Position</label>
                      <input
                        type="text"
                        v-model="value.position"
                        class="form-control"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <label>Description</label>
                      <textarea
                        rows="4"
                        v-model="value.description"
                        cols="80"
                        class="form-control"
                        placeholder="Here can be your description"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <label>
                        Image
                        <br />
                        <span>Recommended Size: 500x500</span>
                        <input
                          style="display:none; height: 48px;"
                          type="file"
                          class="form-control"
                          accept="image/*"
                          @change="uploadImage($event, value)"
                          id="file-input"
                        />
                        <a class="btn btn-upload d-block">Upload Image/s</a>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4" v-if="value.path && value.file_name">
                    <a
                      @click="removeImage(value)"
                      class="text text-dark"
                      style="position: absolute; right:20px; cursor: pointer;"
                    >
                      <i class="fa fa-times-circle" style="font-size:25px"></i>
                    </a>
                    <img
                      v-bind:src="config.base_url + '/' +value.path + value.file_name"
                      class="img-thumbnail"
                      style="background-color:rgba(0,0,0,0.2);"
                    />
                  </div>
                  <div class="col-md-12 pr-3">
                    <a class="btn btn-outline-warning" @click="removeProfile(key)">x Remove Profile</a>
                  </div>
                </div>
                <div class="col-md-12">
                  <a class="btn btn-outline-primary" @click="addProfile()">+ Add Profile</a>
                </div>
                <hr />
              </div>
              <!--                                teams-->
              <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                <div class="row">
                  <div class="col-md-12 pr-3">
                    <strong>Teams</strong>
                  </div>
                </div>
                <div v-for="(value, key) in data.about_teams">
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <label>Name</label>
                      <input
                        type="text"
                        v-model="value.name"
                        class="form-control"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <label>Description</label>
                      <textarea
                        rows="4"
                        v-model="value.description"
                        cols="80"
                        class="form-control"
                        placeholder="Here can be your description"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 pr-3">
                    <div class="form-group">
                      <label>
                        Image
                        <br />
                        <span>Recommended Size: 500x500</span>
                        <input
                          style="display:none; height: 48px;"
                          type="file"
                          class="form-control"
                          accept="image/*"
                          @change="uploadImage($event, value)"
                          id="file-input"
                        />
                        <a class="btn btn-upload d-block">Upload Image/s</a>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4" v-if="value.path && value.file_name">
                    <a
                      @click="removeImage(value)"
                      class="text text-dark"
                      style="position: absolute; right:20px; cursor: pointer;"
                    >
                      <i class="fa fa-times-circle" style="font-size:25px"></i>
                    </a>
                    <img
                      v-bind:src="config.base_url + '/' +value.path + value.file_name"
                      class="img-thumbnail"
                      style="background-color:rgba(0,0,0,0.2);"
                    />
                  </div>
                  <div class="col-md-12 pr-3">
                    <a class="btn btn-outline-warning" @click="removeTeam(key)">x Remove Team</a>
                  </div>
                </div>
                <div class="col-md-12">
                  <a class="btn btn-outline-primary" @click="addTeam()">+ Add Team</a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button
                  type="button"
                  v-on:click="store()"
                  class="btn btn-info btn-fill"
                >Submit {{config.title}}</button>
              </div>
            </div>
          </form>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UploadService from "../../../../cores/services/upload/upload.service";
import AlertService from "../../../../cores/services/alert/alert.service";
import Config from "../../../../configs/app.config";
import PageContentService from "../../../../cores/services/admin/page-content/page-content.service";
import AboutService from "../../../../cores/services/admin/about/about.service";

const config = Config;
const uploadService = new UploadService();
const pageContentService = new PageContentService();
const alertService = new AlertService();
const aboutService = new AboutService();

export default {
  data: function() {
    return {
      data: {
        about: {
          name: ""
        },
        about_images: [
          {
            name: "",
            description: "",
            path: "",
            file_name: ""
          }
        ],
        about_management: [
          {
            name: "",
            position: "",
            description: "",
            path: "",
            file_name: ""
          }
        ],
        about_teams: [
          {
            name: "",
            description: "",
            path: "",
            file_name: ""
          }
        ]
      },
      config: {
        base_url: Config.base_url,
        title: "About"
      }
    };
  },
  mounted: function() {
    this.show();
  },
  methods: {
    show: function() {
      return aboutService.list().then(success => {
        var response = success.data;
        this.data = Object.assign({}, this.data, response);
        if (this.data.length == 0) {
          this.data = {
            about: {
              name: ""
            },
            about_images: [
              {
                name: "",
                description: "",
                path: "",
                file_name: ""
              }
            ],
            about_management: [
              {
                name: "",
                position: "",
                description: "",
                path: "",
                file_name: ""
              }
            ],
            about_teams: [
              {
                name: "",
                description: "",
                path: "",
                file_name: ""
              }
            ]
          };
        }
      });
    },
    store: function() {
      return aboutService.store(this.data).then(
        success => {
          alertService.saved();
          // this.show(this.$route.query);
        },
        fail => {
          var errors = fail.response.data.errors;
          $.notifyClose();
          Object.entries(errors).forEach(([key, value]) => {
            alertService.errorWithMessage(value[0]);
          });
        }
      );
    },
    uploadImage(event, model) {
      alertService.uploading();
      uploadService
        .uploadImage(config.admin_prefix + "/api/upload/image", event)
        .then(success => {
          Object.assign(model, success.data);
          // this.data = success.data;

          alertService.uploadSuccess();
        })
        .catch(error => {});
    },
    removeImage(model) {
      model.path = "";
      model.file_name = "";
    },
    addAward() {
      this.data.about_images.push({
        name: "",
        description: "",
        path: "",
        file_name: ""
      });
    },
    removeAward(key) {
      this.$delete(this.data.about_images, key);
    },
    addProfile() {
      this.data.about_management.push({
        name: "",
        position: "",
        description: "",
        path: "",
        file_name: ""
      });
    },
    removeProfile(key) {
      this.$delete(this.data.about_management, key);
    },
    addTeam() {
      this.data.about_teams.push({
        name: "",
        description: "",
        path: "",
        file_name: ""
      });
    },
    removeTeam(key) {
      this.$delete(this.data.about_teams, key);
    }
  }
};
</script>

<style scoped>
</style>
