<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">{{config.title}}</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <router-link tag="a" :to="{ name: 'project-list' }"
                                             class="btn btn-warning btn-fill">
                                    Close
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                               aria-controls="main" aria-selected="true">Main</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="subproject-tab" data-toggle="tab" href="#subproject" role="tab"
                               aria-controls="subproject" aria-selected="false">SubProject</a>
                        </li>

                    </ul>

                    <form>
                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Image/s
                                                <br><span>Recommended size: 110x75</span>
                                                  <input style="display:none; height: 48px;" type="file" class="form-control"
                                                   accept="image/*"
                                                   @change="uploadImage($event, data)" id="file-input">
                                            <a class="btn btn-upload d-block">Upload Image/s</a></label>

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4" v-if="data.path && data.file_name">
                                        <a @click="removeImage(data)" class="text text-dark"
                                           style="position: absolute; right:20px; cursor: pointer;"><i
                                                class="fa fa-times-circle"
                                                style="font-size:25px"></i></a>
                                        <img v-bind:src="config.base_url + '/' +data.path + data.file_name"
                                             class="img-thumbnail">
                                    </div>
                                </div>

                                <!--<div class="row">-->
                                    <!--<div class="col-md-12">-->
                                        <!--<div class="form-group">-->
                                            <!--<label>Description</label>-->
                                            <!--<textarea rows="4" v-model="data.description" cols="80" class="form-control"-->
                                                      <!--placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="tab-pane fade" id="subproject" role="tabpanel" aria-labelledby="subproject-tab">
                                <div class="row" v-for="(value, key) in data.subproject">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="value.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Image/s
                                                        <br><span>Recommended size: 520x160</span>
                                                        <input style="display:none; height: 48px;" type="file" class="form-control"
                                                               accept="image/*"
                                                               @change="uploadImage($event, value)" id="file-input1">
                                                        <a class="btn btn-upload d-block">Upload Image/s</a></label>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4" v-if="value.path && value.file_name">
                                                <a @click="removeSubProjectImage(key)" class="text text-dark"
                                                   style="position: absolute; right:20px; cursor: pointer;"><i
                                                    class="fa fa-times-circle"
                                                    style="font-size:25px"></i></a>
                                                <img v-bind:src="config.base_url + '/' +value.path + value.file_name"
                                                     class="img-thumbnail">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea rows="4" v-model="value.description" cols="80" class="form-control"
                                                      placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                        </div>


                                        <div class="form-group">
                                            <label>Url</label>
                                            <input type="text" v-model="value.url" class="form-control"
                                                   placeholder="e.g.(http://google.com)">
                                        </div>
                                        <a class="btn btn-outline-warning" @click="removeSubproject(key)">x Remove SubProject</a>
                                    </div>
                                </div>
                                <a class="btn btn-outline-primary" @click="addSubproject()">+ Add SubProject</a>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-12 text-center">
                                <button type="button" v-on:click="$route.params.id ? update() : store() "
                                        class="btn btn-info btn-fill">{{config.title}}
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>


    import UploadService from '../../../../cores/services/upload/upload.service';

    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import ProjectService from "../../../../cores/services/admin/project/project.service";


    const config = Config;
    const uploadService = new UploadService();

    const alertService = new AlertService();
    const projectService = new ProjectService();

    export default {
        data: function () {
            return {
                data: {
                    path: '',
                    subproject: [
                        {
                            name: '',
                            description: '',
                            url: '',
                            path: '',
                            file_name: ''
                        }
                    ]
                },
                config: {
                    base_url: Config.base_url,
                    title: 'Create Project',
                }
            }
        },
        mounted: function () {
            if (this.$route.params.id) {
                this.config.title = 'Update Project';

                this.show(this.$route.params.id);
            }
        },
        methods: {

            uploadImage(event, model) {
                alertService.uploading();
                uploadService.uploadImage(config.admin_prefix + '/api/upload/image', event).then(success => {
                    Object.assign(model, success.data);
                    // this.data = success.data;
                    console.log(this.data.subproject);
                    alertService.uploadSuccess();


                }).catch(error => {

                });

            },
            removeImage(model) {
                this.data.path = '';
                this.data.file_name = '';
            },
            removeSubProjectImage(key) {
                this.data.subproject[key].path = '';
                this.data.subproject[key].file_name = '';
            },
            store: function () {

                return projectService.store(this.data).then(success => {
                    alertService.saved();
                    this.data = {};
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            update: function () {

                // Object.assign(this.data, this.image);
                // partnerService.update(this.data);
                return projectService.update(this.data).then(success => {
                    alertService.updated();
                }, fail => {
                    var errors = fail.response.data.errors;
                    $.notifyClose();
                    Object.entries(errors).forEach(([key, value]) => {

                        alertService.errorWithMessage(value[0]);

                    });
                });

            },
            show(id) {

                return projectService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;

                }).catch(error => {

                });

            },
            addSubproject(){
                this.data.subproject.push({
                    name: '',
                    description: '',
                    url: '',
                    path: '',
                    file_name: ''
                });
            },
            removeSubproject(key){
                this.$delete(this.data.subproject, key)
            }
        }
    }
</script>

<style scoped>

</style>
