<template>

    <section id="newspress">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="text-content wow fadeInDown" data-wow-delay="2s">
                    <span class="text-divider">
                        <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png" />
                    </span>
                        <h2 class="mb-5">News <strong>&amp; Press</strong></h2>
                        <span class="d-block" v-if="feature.data && feature.data.length">Featured</span>

                        <div class="featured" v-if="feature.data && feature.data.length">
                            <a v-for="(value,key) in feature.data" :href="$route.path +'/'+ value.slug" class="block">

                                <img class="w-100 d-block img-fluid mt-2" :src="value.path && value.file_name ? config.base_url + '/'+value.path + value.file_name : '/images/newsimage.png' " />
                                <h3 class="mt-2">{{value.name}}</h3>
                                <span class="d-block mb-4">{{value.author}}</span>
                            </a>
                        </div>

                        <div class="othernews my-5" v-if="post.data && post.data.length">
                            <span class="d-block">Other News</span>
                            <a v-for="(value,key) in post.data" :href="$route.path +'/'+ value.slug" class="d-block block mb-3">
                                <div class="row">
                                    <div class="col-4 col-lg-3 pr-0">
                                        <!-- <img class="mx-auto d-block img-fluid mt-2" :src="value.path && value.file_name ? config.base_url + '/'+value.path + value.file_name : '/images/newsimage.png' " /> -->
                                        <img class="mx-auto d-block img-fluid mt-2" v-if="value.path && value.file_name" :src=" config.base_url + '/'+value.path + value.file_name" />
                                        

                                    </div>
                                    <div class="col-8 col-lg-9">
                                        <h3>{{value.name}}</h3>
                                        <pre>
                                            <!-- <p class="text-justify">{{value.description}}</p> -->
                                        </pre>
                                    </div>
                                </div>
                            </a>

                        </div>

                        <div class="pagination">
                            <a v-if="pagination.previous_page != false" :href="config.base_url + '/news-and-press?page='+ pagination.previous_page" class="prev"><i class="fa fa-arrow-left"></i>&nbsp; Prev Post</a>
                            <a  v-if="pagination.next_page != false" :href="config.base_url + '/news-and-press?page='+ pagination.next_page" class="next">Next Post &nbsp;<i class="fa fa-arrow-right"></i></a>
                        </div>
                        
                    </div>
                    <div class="mobileView">
                            <!-- <img class="zIndex d-block" src="/images/home-eye-mobile.png" /> -->
                             <img class=" img-fluid d-block" src="/images/eye2.gif" />
                             
                        </div>

                </div>
                <div class="col-xs-12 col-lg-6">
                    <div id="banner">
                        <div id="inner-banner">
                            <!-- <img class="zIndex d-block" src="/images/home-eye.png" />
                            <img class="d-none d-lg-block" src="/images/eye.png" /> -->
                             
                             <img class="d-block" src="/images/eye2.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--{{_havePost}}-->
    </section>

</template>

<script>
    import Config from "../../../configs/app.config";
    import Constant from "../../../configs/app.constant";


    import NewsPressService from "../../../cores/services/news-press/news-press.service";
    const config = Config;
    const constant = Constant;

    const newsPressService = new NewsPressService();
    export default {
        data: function () {
            return {
                data: {

                },
                feature: {

                },
                post: {},
                pagination: {},
                config: {
                    base_url: config.base_url
                }
            }
        },

        mounted: function () {

            this.pagination.current_page = this.$route.query.page ? this.$route.query.page : 1;
            this.featuredNews(this.pagination.current_page);
            this.news(this.pagination.current_page);
        },
        methods: {

            featuredNews: function (page) {
                return newsPressService.listWithPagination(constant.status.featured,page,1).then(success => {
                    this.feature = success.data;
                    this.pagination.previous_page = this.feature.prev_page_url ? (new URL(this.feature.prev_page_url)).searchParams.get('page') : false;
                    this.pagination.next_page = this.feature.next_page_url ? (new URL(this.feature.next_page_url)).searchParams.get('page') : false;

                });
            },
            news: function (page) {
                return newsPressService.listWithPagination('',page,10).then(success => {
                    this.post = success.data;
                });
            },
            next: function () {
                this.news(2);
                this.featuredNews(2);
            },
            previous: function () {
                this.news(1);
                this.featuredNews(1);
            }
        },
        computed: {
            _havePost: function () {

                return this.feature.data;
            }
        }
    }
</script>

<style scoped>

</style>