<template>

    <section id="newspress">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="text-content wow fadeInDown" data-wow-delay="2s">
                    <span class="text-divider">
                        <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png" />
                    </span>
                        <h2 class="mb-5"><strong>News &amp; Press</strong></h2>
                       
                        <img class="mx-auto d-block img-fluid w-100 mt-2 mb-2" :src="data.path && data.file_name ? config.base_url + '/'+data.path + data.file_name : '/images/newsimage.png' " />
                         <h3 class="mt-2">{{data.name}}</h3>
                        <span class="d-block mb-4">Posted by {{data.author}}</span>


                        <div class="text-justify" v-for="(value,key) in data.description">{{value}}
                            <div v-if="value.length > 20" class="pb-2"></div>
                        </div>

                        <div class="pagination my-5 justify-content-center row">
                            <a v-if="data.previous_link != false" :href="config.base_url + '/news-and-press/' + data.previous_link" class="col prev"><i class="fa fa-arrow-left"></i>&nbsp; Prev Post</a>
                            <a v-if="data.next_link != false" :href="config.base_url + '/news-and-press/' + data.next_link" class="col next">Next Post &nbsp;<i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="mobileView">
                            <!-- <img class="zIndex d-block" src="/images/home-eye-mobile.png" /> -->
                             <img class=" img-fluid d-block" src="/images/eye.gif" />
                        </div>

                </div>
                <div class="col-xs-12 col-lg-6">
                    <div id="banner">
                        <div id="inner-banner">
                            <!-- <img class="zIndex d-block" src="/images/home-eye.png" />
                            <img class="d-none d-lg-block" src="/images/eye.png" /> -->
                             <img class="d-block" src="/images/eye.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import Config from "../../../configs/app.config";
    import Constant from "../../../configs/app.constant";


    import NewsPressService from "../../../cores/services/news-press/news-press.service";
    const config = Config;
    const constant = Constant;

    const newsPressService = new NewsPressService();
    export default {
        data: function () {
            return {
                data: {},
                pagination: {},
                config: {
                    base_url: config.base_url
                }
            }
        },

        mounted: function () {
            this.pagination.current_page = this.$route.params.slug;
            this.show(this.pagination.current_page);
        },
        methods: {

            show: function (slug) {
                return newsPressService.show(slug).then(success => {
                   var response = success.data;
                    response.description = response.description.split(/\n/);
                    this.data = response;

                });
            }

        }
    }
</script>

<style scoped>

</style>