<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <h4 class="card-title">News and Presses</h4>

                    
                    <div class="row">
                        <div class="col-6">
                            <router-link tag="a" :to="{path: config.prefix + '/news-presses/create'}">
                                <i title="Add" class="nc-icon nc-simple-add"></i>
                            </router-link>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <search-component @click-handler="search"/>
                            </div>
                        </div>
                    </div>
                    
                                                                                                                                            
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>

                            <th>Operation</th>
                            <th>Name</th>
                            <th>Description</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(value,key) in data.data">

                            <td>
                                <router-link :to="$route.path + '/' + value.id +'/edit'" tag="a"
                                             class="text text-primary">Edit
                                </router-link>
                                |
                                <a style="cursor: pointer;" @click="remove(value.id)" class="text text-danger"> Delete </a>
                            </td>
                            <td><h3>{{value.name}}</h3></td>
                            <td><p class="content-description">{{value.description}}</p></td>

                        </tr>

                        </tbody>
                    </table>
                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="data.total / data.per_page"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>
                </div>
            </div>
        </div>
    </div>
</template>


<script>


    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import NewsPressService from "../../../../cores/services/admin/news-press/news-press.service";
    import PaginateComponent from 'vuejs-paginate';
    import SearchComponent from '../../../../cores/admin/includes/search.component';

    const config = Config;

    const alertService = new AlertService();
    const newsPressService = new NewsPressService();
    export default {
        components: {SearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix
                },
                data: {}
            }
        },
        mounted() {

            this.list(this.$route.query);

        },
        methods: {
            search: function (data) {
                this.list(data);
                this.$router.push({name: 'news-press-list', query: data});
            },
            list: function (data) {

                return newsPressService.list(data).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },

            remove: function (id) {

                return newsPressService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                if (this.$route.query.keyword) {
                    data.keyword = this.$route.query.keyword;
                }
                this.list(data);

                this.$router.push({name: 'news-press-list', query:data});

            },
        }
    }
</script>

<style scoped>

</style>