<template>

    <section id="partners">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="text-content wow fadeInDown" data-wow-delay="2.5s">
                    <span class="text-divider">
                        <img class="img-fluid d-block" src="/images/home-page-content-divider-top.png" />
                    </span>
                        <h2 class="mb-5">Partners</h2>
                        <div class="container">
                            <div class="row partners">

                                <div class="col-4 my-auto" v-for="(value,key) in data">
                                    <img class="img-fluid d-block mb-4 mb-lg-5" :src="config.base_url +'/'+ value.path + value.file_name"/>
                                </div>


                            </div>
                        </div>
                        <div class="mobileView mt-5">
                            <!-- <img class="zIndex d-block" src="/images/home-eye-mobile.png" /> -->
                             <img class=" img-fluid d-block" src="/images/handshake-v2.gif" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div id="banner">
                        <div id="inner-banner">
                            <!-- <img class="zIndex d-block" src="/images/home-eye.png" />
                            <img class="d-none d-lg-block" src="/images/eye.png" /> -->
                             <img class="d-block" src="/images/handshake-v2.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import Config from "../../../configs/app.config";
    import PartnerService from "../../../cores/services/partner/partner.service";
    const config = Config;
    const partnerService = new PartnerService();
    export default {
        data: function () {
            return {
                data: {},
                config: {
                    base_url: config.base_url
                }
            }
        },
        mounted: function () {
            this.list();
        },
        methods: {

            list: function () {
                return partnerService.list().then(success => {
                    this.data = success.data;
                });
            }
        }
    }
</script>

<style scoped>

</style>