<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{config.title}}</h4>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab"
                               aria-controls="main" aria-selected="true">Main</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab"
                               aria-controls="images" aria-selected="false">Images</a>
                        </li>

                    </ul>

                    <form>
                        <div class="tab-content pt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
                                <div class="row">
                                    <div class="col-md-12 pr-3">
                                        <div class="form-group">
                                            <label>Name*</label>
                                            <input type="text" v-model="data.name" class="form-control"
                                                   placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12 pl-3 pr-3">
                                        <div class="form-group">
                                            <label>Type*</label>
                                            <select class="form-control" v-model="data.page_content_option_id">
                                                <option disabled selected>Select Type</option>
                                                <option v-for="(value,key) in option" :value="value.id">{{value.name}}</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea rows="4" v-model="data.description" cols="80" class="form-control"
                                                      placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Image/s
                                                  <input style="display:none; height: 48px;" type="file" class="form-control"
                                                   accept="image/*"
                                                   @change="uploadImage($event)" id="file-input">
                                            <a class="btn btn-upload d-block">Upload Image/s</a></label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-4" v-if="data.path && data.file_name">

                                        <a @click="removeImage()" class="text text-dark"
                                           style="position: absolute; right:20px; cursor: pointer;"><i
                                                class="fa fa-times-circle"
                                                style="font-size:25px"></i></a>
                                        <img v-bind:src="config.base_url + '/' +data.path + data.file_name"
                                             class="img-thumbnail">

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-12 text-center">
                                <button type="button" v-on:click="$route.params.id ? update() : store() "
                                        class="btn btn-info btn-fill">{{config.title}}
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import UploadService from '../../../../cores/services/upload/upload.service';
    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import PageContentService from "../../../../cores/services/admin/page-content/page-content.service";
    import OptionService from "../../../../cores/services/option/option.service";


    const config = Config;
    const uploadService = new UploadService();
    const pageContentService = new PageContentService();
    const alertService = new AlertService();
    const optionService = new OptionService();

    export default {
        data: function () {
            return {
                data: {
                    path: ''
                },
                option: {},
                config: {
                    base_url: Config.base_url,
                    title: 'Create Content',
                }
            }
        },
        mounted: function () {
            this.initializePageContentOptions();
            if (this.$route.params.id) {
                this.config.title = 'Update Content';
                this.show(this.$route.params.id);
            }
        },
        methods: {

            uploadImage(event) {
                alertService.uploading();
                uploadService.uploadImage(config.admin_prefix + '/api/upload/image', event).then(success => {
                    Object.assign(this.data, success.data);
                    // this.data = success.data;

                    alertService.uploadSuccess();


                }).catch(error => {

                });

            },
            removeImage() {

                this.data.path = '';
                this.data.file_name = '';
            },
            store: function () {

                return pageContentService.store(this.data).then(success => {
                    alertService.saved();
                    this.data = {};
                }).catch(error => {

                });

            },
            update: function () {

                // Object.assign(this.data, this.image);
                // partnerService.update(this.data);
                return pageContentService.update(this.data).then(success => {
                    alertService.updated();
                }).catch(error => {

                });

            },
            show(id) {

                return pageContentService.show(id).then(success => {

                    var response = success.data;
                    this.data = response;


                }).catch(error => {

                });

            },
            initializePageContentOptions: function () {
                //
                // return
                return optionService.pageContentOption().then(success => {

                    var response = success.data;
                    this.option = response;
                });
            }
        }
    }
</script>

<style scoped>

</style>