<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <h4 class="card-title">Contents</h4>

                    <router-link tag="a" :to="{path: config.prefix + '/page-contents/create'}">
                        <i class="nc-icon nc-simple-add"></i>
                    </router-link>

                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>

                            <th>Operation</th>
                            <th>Name</th>
                            <th>Description</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(value,key) in data.data">

                            <td>
                                <router-link :to="$route.path + '/' + value.id +'/edit'" tag="a"
                                             class="text text-primary">Edit
                                </router-link>
                                |
                                <a style="cursor: pointer;" @click="remove(value.id)" class="text text-danger">
                                    Delete </a>
                            </td>
                            <td><h3>{{value.name}}</h3></td>
                            <td><p class="content-description">{{value.description}}</p></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import PageContentService from "../../../../cores/services/admin/page-content/page-content.service";


    const config = Config;

    const pageContentService = new PageContentService();
    const alertService = new AlertService();
    export default {
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix
                },
                data: {}
            }
        },
        mounted() {
            this.list();
        },
        methods: {

            list: function () {

                return pageContentService.list(0).then(success => {
                    var response = success.data;
                    this.data = response;
                });
            },

            remove: function (id) {

                return pageContentService.delete(id).then(success => {
                    alertService.deleted();
                    this.list();
                })
            }
        }
    }
</script>

<style scoped>

</style>