<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header ">
                    <h4 class="card-title">Partners</h4>

                    
                    <div class="row">
                        <div class="col-6">
                    <router-link tag="a" :to="{path: config.prefix + '/partners/create'}">
                        <i title="Add" class="nc-icon nc-simple-add"></i>
                    </router-link>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <search-component @click-handler="search"/>
                            </div>
                        </div>
                    </div>                    


                </div>
                <div class="card-body table-full-width table-responsive">

                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>

                            <th>Operation</th>
                            <th>Name</th>

                            <th>Logo</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(value,key) in data.data">

                            <td>
                                <router-link :to="$route.path + '/' + value.id +'/edit'" tag="a"
                                             class="text text-primary">Edit
                                </router-link>
                                |
                                <a style="cursor: pointer;" @click="remove(value.id)" class="text text-danger">
                                    Delete </a>
                            </td>
                            <td><h3>{{value.name}}</h3></td>
                            <td><img class="img-fluid" v-bind:src="'/' +value.path + value.file_name"></td>

                        </tr>


                        </tbody>

                    </table>

                    <paginate-component v-if="data.total / data.per_page > 1"
                                        :page-count="data.total / data.per_page"
                                        :page-range="3"
                                        :margin-pages="2"
                                        :click-handler="paginate"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination pl-3'"
                                        :page-class="'page-item'"/>


                </div>
            </div>
        </div>
    </div>
</template>


<script>

    import PartnerService from '../../../../cores/services/admin/partner/partner.service';
    import AlertService from '../../../../cores/services/alert/alert.service';
    import Config from '../../../../configs/app.config';
    import PaginateComponent from 'vuejs-paginate';
    import SearchComponent from '../../../../cores/admin/includes/search.component';

    const config = Config;
    const partnerService = new PartnerService();
    const alertService = new AlertService();


    export default {
        components: {SearchComponent, PaginateComponent},
        data: function () {
            return {
                config: {
                    prefix: config.admin_prefix
                },
                data: {
                    total: 0
                }
            }
        },
        mounted() {


            this.list(this.$route.query);


        },
        methods: {
            search: function (data) {
                this.list(data);
                this.$router.push({name: 'partner-list', query: data});
            },
            paginate: function (page) {
                var data = {
                    page: page
                }
                if (this.$route.query.keyword) {
                    data.keyword = this.$route.query.keyword;
                }
                this.list(data);
                this.$router.push({name: 'partner-list', query: data});

            },
            remove: function (id) {

                return partnerService.delete(id).then(success => {
                    alertService.deleted();
                    this.list(this.$route.query);
                })
            },
            list: function (parameter) {

                return partnerService.list(parameter).then(success => {
                    var response = success.data;
                    this.data = response;

                });
            },
        }
    }
</script>

<style>
</style>